<div
  class="flex flex-col items-center justify-center gap-6 px-4"
>
  <section class="w-full">
    <h4 class="text-sm mb-2">Icon-only items</h4>
    <ax-button-group look="solid" color="primary">
      <ax-button-group-item name="bold">
        <ax-prefix><ax-icon icon="fa-solid fa-bold"></ax-icon></ax-prefix>
      </ax-button-group-item>
      <ax-button-group-item name="italic">
        <ax-prefix><ax-icon icon="fa-solid fa-italic"></ax-icon></ax-prefix>
      </ax-button-group-item>
      <ax-button-group-item name="underline">
        <ax-prefix><ax-icon icon="fa-solid fa-underline"></ax-icon></ax-prefix>
      </ax-button-group-item>
    </ax-button-group>
    <p class="text-xs mt-1">
      Items without <code>text</code> render as icon buttons.
    </p>
  </section>
</div>
