<div
  class="ax-flex ax-flex-col ax-items-center ax-justify-center ax-gap-6 ax-px-4"
>
  <section class="ax-w-full">
    <h4 class="ax-text-sm ax-mb-2">Icon-only items</h4>
    <ax-button-group look="solid" color="primary">
      <ax-button-group-item name="bold">
        <ax-prefix><ax-icon icon="fa-solid fa-bold"></ax-icon></ax-prefix>
      </ax-button-group-item>
      <ax-button-group-item name="italic">
        <ax-prefix><ax-icon icon="fa-solid fa-italic"></ax-icon></ax-prefix>
      </ax-button-group-item>
      <ax-button-group-item name="underline">
        <ax-prefix><ax-icon icon="fa-solid fa-underline"></ax-icon></ax-prefix>
      </ax-button-group-item>
    </ax-button-group>
    <p class="ax-text-xs ax-mt-1">
      Items without <code>text</code> render as icon buttons.
    </p>
  </section>
</div>
