<div
  class="ax-flex ax-w-full ax-items-center ax-justify-center ax-gap-4 ax-py-6"
>
  <ax-chips text="solid" color="neutral" look="solid">
    <ax-prefix>
      <ax-icon icon="fa-solid fa-bars"></ax-icon>
    </ax-prefix>
    <ax-suffix>
      <ax-icon icon="ax-icon ax-icon-close"></ax-icon>
    </ax-suffix>
  </ax-chips>
  <ax-chips text="outline" color="neutral" look="outline">
    <ax-prefix>
      <ax-icon icon="fa-solid fa-bars"></ax-icon>
    </ax-prefix>
    <ax-suffix>
      <ax-icon icon="ax-icon ax-icon-close"></ax-icon>
    </ax-suffix>
  </ax-chips>
  <ax-chips text="twotone" color="neutral" look="twotone">
    <ax-prefix>
      <ax-icon icon="fa-solid fa-bars"></ax-icon>
    </ax-prefix>
    <ax-suffix>
      <ax-icon icon="ax-icon ax-icon-close"></ax-icon>
    </ax-suffix>
  </ax-chips>
</div>
