<div class="ax-w-full ax-text-center ax-space-y-8">
  <section>
    <div class="ax-flex ax-items-center ax-justify-center ax-gap-6">
      <ax-donut-chart
        [data]="donutChartData()"
        [options]="donutChartOptions()"
        #chartRef1
      ></ax-donut-chart>

      <ax-chart-legend
        [chart]="chartRef1"
        [options]="interactiveLegendOptions()"
        (itemClick)="handleLegendItemClick($event)"
        (itemMouseEnter)="handleLegendItemMouseEnter($event)"
        (itemMouseLeave)="handleLegendItemMouseLeave($event)"
      ></ax-chart-legend>
    </div>
  </section>
</div>
