<div class="flex w-80 items-center justify-center gap-2 py-6">
  <div class="my-2 flex gap-4">
    <ax-avatar [size]="32">
      <ax-image src="https://i.pravatar.cc/300">
        <ax-loading></ax-loading>
      </ax-image>
    </ax-avatar>
    <ax-avatar color="secondary" [size]="48">
      <ax-image src="https://i.pravatar.cc/300">
        <ax-loading></ax-loading>
      </ax-image>
    </ax-avatar>
    <ax-avatar [size]="64">
      <ax-image src="https://i.pravatar.cc/300">
        <ax-loading></ax-loading>
      </ax-image>
    </ax-avatar>
    <ax-avatar color="secondary" [size]="48">
      <ax-image src="https://i.pravatar.cc/300">
        <ax-loading></ax-loading>
      </ax-image>
    </ax-avatar>
    <ax-avatar [size]="32">
      <ax-image src="https://i.pravatar.cc/300">
        <ax-loading></ax-loading>
      </ax-image>
    </ax-avatar>
  </div>
</div>
