<div class="ax-flex ax-w-80 ax-items-center ax-justify-center ax-gap-2 ax-py-6">
  <div class="ax-my-2 ax-flex ax-gap-4">
    <ax-avatar [size]="32">
      <ax-image src="https://i.pravatar.cc/300">
        <ax-loading></ax-loading>
      </ax-image>
    </ax-avatar>
    <ax-avatar color="neutral" [size]="48">
      <ax-image src="https://i.pravatar.cc/300">
        <ax-loading></ax-loading>
      </ax-image>
    </ax-avatar>
    <ax-avatar [size]="64">
      <ax-image src="https://i.pravatar.cc/300">
        <ax-loading></ax-loading>
      </ax-image>
    </ax-avatar>
    <ax-avatar color="neutral" [size]="48">
      <ax-image src="https://i.pravatar.cc/300">
        <ax-loading></ax-loading>
      </ax-image>
    </ax-avatar>
    <ax-avatar [size]="32">
      <ax-image src="https://i.pravatar.cc/300">
        <ax-loading></ax-loading>
      </ax-image>
    </ax-avatar>
  </div>
</div>
