<div class="flex flex-col items-center justify-center gap-4">
  <div class="flex flex-col items-center gap-4">
    <div class="flex flex-col items-center gap-2">
      <small class="text-center">
        Selected:
        {{
          selectedRange().from ? selectedRange().from!.toDateString() : "None"
        }}
        to
        {{ selectedRange().end ? selectedRange().end!.toDateString() : "None" }}
      </small>
    </div>

    <ax-calendar-range
      [value]="selectedRange()"
      (onValueChanged)="onRangeChanged($event)"
    >
    </ax-calendar-range>
  </div>
</div>
