<div
  class="w-[100vw] h-[100vh] flex justify-center items-center flex-col gap-4 p-4"
>
  <div class="flex items-center gap-2">
    <span class="text-sm font-medium">Template:</span>
    <ax-select-box
      [dataSource]="options()"
      [ngModel]="selectedTemplate()"
      (onValueChanged)="onTemplateChange($event.value)"
      style="width: 200px"
    ></ax-select-box>
  </div>

  @defer(){
  <ax-scheduler
    [selectedView]="'month'"
    [startingDate]="startingDate()"
    [dataSource]="appointmentsData()"
    [tooltipTemplate]="tooltipTemplate || ''"
    class="bg-lightest dark:bg-darkest h-[90%]"
  ></ax-scheduler>
  }

  <!-- Custom tooltip template -->
  <ng-template #tooltipTemplate let-appointment>
    <div class="p-3 surface border rounded-lg shadow-lg">
      <ax-title> {{ appointment.title }} </ax-title>
      <ax-subtitle> {{ appointment.description }} </ax-subtitle>
      <div class="flex justify-between text-xs">
        <span>Start: {{ appointment.startDate | format : "datetime" }}</span>
        <span>End: {{ appointment.endDate | format : "datetime" }}</span>
      </div>
      <div class="mt-2 pt-2 border-t">
        <div class="text-xs">
          Priority: {{ appointment.priority || "Medium" }}
        </div>
      </div>
    </div>
  </ng-template>
</div>
