<div
  class="ax-flex ax-flex-col ax-items-center ax-justify-center ax-gap-4 ax-px-4"
>
  <ax-button-group color="default" look="solid">
    <ax-button-group-item text="Overview"></ax-button-group-item>
    <ax-button-group-item
      text="Details"
      [divided]="true"
    ></ax-button-group-item>
    <ax-button-group-item text="Activity"></ax-button-group-item>
    <ax-button-group-item
      text="Security"
      [divided]="true"
    ></ax-button-group-item>
    <ax-button-group-item text="Settings"></ax-button-group-item>
  </ax-button-group>
  <p class="ax-text-xs">
    Use <code>divided</code> to visually separate logical groups.
  </p>
</div>
