<div class="ax-flex ax-flex-col ax-items-center ax-justify-center ax-gap-4">
  <ax-button
    class="ax-w-full"
    color="success"
    text="Default Icon"
    (onClick)="showWithDefaultIcon()"
  ></ax-button>

  <ax-button
    class="ax-w-full"
    color="primary"
    text="Custom Heart Icon"
    (onClick)="showWithCustomIcon()"
  ></ax-button>

  <ax-button
    class="ax-w-full"
    color="warning"
    text="Custom Star Icon"
    (onClick)="showWithStarIcon()"
  ></ax-button>

  <ax-button
    class="ax-w-full"
    color="secondary"
    text="Custom Settings Icon"
    (onClick)="showWithSettingsIcon()"
  ></ax-button>

  <ax-button
    class="ax-w-full"
    color="danger"
    text="Custom Bell Icon"
    (onClick)="showWithBellIcon()"
  ></ax-button>
</div>
