<ng-template #customCloneTemplate>
  <div
    class="flex h-24 w-48 items-center justify-center rounded-lg bg-secondary p-4 text-center text-white shadow-xl"
  >
    ✨ Custom Clone ✨
  </div>
</ng-template>

<div class="flex gap-4 rounded p-4 surface">
  <div
    axDrag
    [dragElementClone]="true"
    [dropZoneGroup]="'dropZoneGroup1'"
    class="relative flex h-36 w-36 items-center justify-center rounded-sm p-2 text-center text-sm shadow primary-surface select-none"
  >
    Draggable Item (Clone)
  </div>
  <div
    axDrag
    [dragElementClone]="true"
    [dragClonedTemplate]="customCloneTemplate"
    class="relative flex h-36 w-36 items-center justify-center rounded-sm p-2 text-center text-sm shadow secondary-surface select-none"
  >
    Draggable (Custom Clone Template)
  </div>
</div>
