<div
  class="ax-flex ax-flex-col ax-items-center ax-justify-center ax-gap-4 ax-p-4"
>
  <div class="ax-flex ax-flex-wrap ax-gap-2 ax-justify-center">
    <ax-button
      color="primary"
      text="Template Content"
      (onClick)="showTemplateNotification()"
    >
    </ax-button>

    <ax-button
      color="success"
      text="Component Content"
      (onClick)="showComponentNotification()"
    >
    </ax-button>

    <ax-button
      color="warning"
      text="Rich HTML Content"
      (onClick)="showRichContentNotification()"
    >
    </ax-button>
  </div>
</div>
