<div class="flex gap-2">
  <div
    class="w-60 rounded-md bg-primary-surface p-2 text-primary-on-surface"
  >
    <ax-side-menu>
      <ax-side-menu-item>
        <span>Dashboard</span>
        <ax-prefix>
          <ax-icon>
            <i class="fa-solid fa-gauge-simple"></i>
          </ax-icon>
        </ax-prefix>
      </ax-side-menu-item>
      <ax-side-menu-item>
        <span>Users</span>
        <ax-prefix>
          <ax-icon>
            <i class="fa-solid fa-user-group"></i>
          </ax-icon>
        </ax-prefix>
      </ax-side-menu-item>
      <ax-side-menu-item [isCollapsed]="true">
        <span>Comments</span>
        <ax-prefix>
          <ax-icon>
            <i class="fa-solid fa-comments"></i>
          </ax-icon>
        </ax-prefix>
      </ax-side-menu-item>
    </ax-side-menu>
  </div>
  <div
    class="w-60 rounded-md bg-primary-surface p-2 text-lg text-primary-on-surface"
  >
    <ax-side-menu class="text-base">
      <ax-side-menu-item>
        <span>Dashboard</span>
        <ax-prefix>
          <ax-icon>
            <i class="fa-solid fa-gauge-simple"></i>
          </ax-icon>
        </ax-prefix>
      </ax-side-menu-item>
      <ax-side-menu-item>
        <span>Users</span>
        <ax-prefix>
          <ax-icon>
            <i class="fa-solid fa-user-group"></i>
          </ax-icon>
        </ax-prefix>
      </ax-side-menu-item>
      <ax-side-menu-item [isCollapsed]="true">
        <span>Comments</span>
        <ax-prefix>
          <ax-icon>
            <i class="fa-solid fa-comments"></i>
          </ax-icon>
        </ax-prefix>
      </ax-side-menu-item>
    </ax-side-menu>
  </div>
  <div
    class="w-60 rounded-md bg-primary-surface p-2 text-xl text-primary-on-surface"
  >
    <ax-side-menu class="text-lg">
      <ax-side-menu-item>
        <span>Dashboard</span>
        <ax-prefix>
          <ax-icon>
            <i class="fa-solid fa-gauge-simple"></i>
          </ax-icon>
        </ax-prefix>
      </ax-side-menu-item>
      <ax-side-menu-item>
        <span>Users</span>
        <ax-prefix>
          <ax-icon>
            <i class="fa-solid fa-user-group"></i>
          </ax-icon>
        </ax-prefix>
      </ax-side-menu-item>
      <ax-side-menu-item [isCollapsed]="true">
        <span>Comments</span>
        <ax-prefix>
          <ax-icon>
            <i class="fa-solid fa-comments"></i>
          </ax-icon>
        </ax-prefix>
      </ax-side-menu-item>
    </ax-side-menu>
  </div>
</div>
