<div class="ax-flex ax-gap-2">
  <div class="ax-w-60 ax-rounded-md ax-bg-secondary-500 ax-p-2 ax-text-secondary-fore">
    <ax-side-menu>
      <ax-side-menu-item>
        <span>Dashboard</span>
        <ax-prefix>
          <ax-icon>
            <i class="fa-solid fa-gauge-simple"></i>
          </ax-icon>
        </ax-prefix>
      </ax-side-menu-item>
      <ax-side-menu-item>
        <span>Users</span>
        <ax-prefix>
          <ax-icon>
            <i class="fa-solid fa-user-group"></i>
          </ax-icon>
        </ax-prefix>
      </ax-side-menu-item>
      <ax-side-menu-item [isCollapsed]="true">
        <span>Comments</span>
        <ax-prefix>
          <ax-icon>
            <i class="fa-solid fa-comments"></i>
          </ax-icon>
        </ax-prefix>
      </ax-side-menu-item>
    </ax-side-menu>
  </div>
  <div class="ax-w-60 ax-rounded-md ax-bg-secondary-500 ax-p-2 ax-text-lg ax-text-secondary-fore">
    <ax-side-menu class="ax-text-base">
      <ax-side-menu-item>
        <span>Dashboard</span>
        <ax-prefix>
          <ax-icon>
            <i class="fa-solid fa-gauge-simple"></i>
          </ax-icon>
        </ax-prefix>
      </ax-side-menu-item>
      <ax-side-menu-item>
        <span>Users</span>
        <ax-prefix>
          <ax-icon>
            <i class="fa-solid fa-user-group"></i>
          </ax-icon>
        </ax-prefix>
      </ax-side-menu-item>
      <ax-side-menu-item [isCollapsed]="true">
        <span>Comments</span>
        <ax-prefix>
          <ax-icon>
            <i class="fa-solid fa-comments"></i>
          </ax-icon>
        </ax-prefix>
      </ax-side-menu-item>
    </ax-side-menu>
  </div>
  <div class="ax-w-60 ax-rounded-md ax-bg-secondary-500 ax-p-2 ax-text-xl ax-text-secondary-fore">
    <ax-side-menu class="ax-text-lg">
      <ax-side-menu-item>
        <span>Dashboard</span>
        <ax-prefix>
          <ax-icon>
            <i class="fa-solid fa-gauge-simple"></i>
          </ax-icon>
        </ax-prefix>
      </ax-side-menu-item>
      <ax-side-menu-item>
        <span>Users</span>
        <ax-prefix>
          <ax-icon>
            <i class="fa-solid fa-user-group"></i>
          </ax-icon>
        </ax-prefix>
      </ax-side-menu-item>
      <ax-side-menu-item [isCollapsed]="true">
        <span>Comments</span>
        <ax-prefix>
          <ax-icon>
            <i class="fa-solid fa-comments"></i>
          </ax-icon>
        </ax-prefix>
      </ax-side-menu-item>
    </ax-side-menu>
  </div>
</div>
