<ax-menu>
  <ax-menu-item [color]="'primary'">
    <ax-text>Primary</ax-text>
    <ax-menu-item [color]="'primary'">
      <ax-text>Primary child</ax-text>
    </ax-menu-item>
  </ax-menu-item>
  <ax-menu-item [color]="'danger'">
    <ax-text>Danger</ax-text>
    <ax-menu-item [color]="'danger'">
      <ax-text>Danger child</ax-text>
    </ax-menu-item>
  </ax-menu-item>
  <ax-menu-item>
    <ax-text>Default</ax-text>
    <ax-menu-item>
      <ax-text>Default child</ax-text>
    </ax-menu-item>
  </ax-menu-item>
</ax-menu>
