<ax-bottom-navigation class="ax-w-96">
	<ax-bottom-navigation-item name="home" [active]="true">
		<ax-icon class="fa-light fa-house"></ax-icon>
	</ax-bottom-navigation-item>
	<ax-bottom-navigation-item name="search">
		<ax-icon class="fa-light fa-magnifying-glass"></ax-icon>
	</ax-bottom-navigation-item>
	<ax-bottom-navigation-item name="orders">
		<ax-icon class="fa-light fa-receipt"></ax-icon>
	</ax-bottom-navigation-item>
	<ax-bottom-navigation-item name="favorites">
		<ax-icon class="fa-light fa-heart"></ax-icon>
	</ax-bottom-navigation-item>
	<ax-bottom-navigation-item name="notifications">
		<ax-icon class="fa-light fa-bell"></ax-icon>
	</ax-bottom-navigation-item>
	<ax-bottom-navigation-item name="profile">
		<ax-icon class="fa-light fa-user"></ax-icon>
	</ax-bottom-navigation-item>
</ax-bottom-navigation>


