<div class="flex flex-col gap-4">
  <div class="flex gap-2 items-center">
    <span class="text-sm font-medium">Location:</span>
    <ax-button-group [selection]="selection">
      @for (location of locations; track location.value) {
      <ax-button-group-item
        [text]="location.text"
        [selected]="selectedLocation() === location.value"
        (onClick)="selectedLocation.set(location.value)"
      >
      </ax-button-group-item>
      }
    </ax-button-group>
  </div>

  <div
    class="border surface rounded-lg p-4"
    style="min-height: 200px"
  >
    <ax-tabs [location]="selectedLocation()" [look]="'with-line-color'">
      <ax-tab-item text="Home" [active]="true"></ax-tab-item>
      <ax-tab-item text="About"></ax-tab-item>
      <ax-tab-item text="Contact"></ax-tab-item>
    </ax-tabs>
  </div>
</div>
