<ax-button
  color="primary"
  text="Open Action Sheet"
  (onClick)="openActionSheet()"
></ax-button>

<ng-template #customTemplate let-data let-ref="ref">
  <div class="ax-p-6 ax-flex ax-flex-col ax-gap-4">
    <ax-result>
      <ax-icon class="fa-solid fa-circle-check ax-text-success-500"> </ax-icon>
      <ax-title>{{ data?.title }}</ax-title>
      <ax-content>
        {{ data?.subTitle }} <br />
        Note : {{ data?.data?.note }}
      </ax-content>
    </ax-result>
    <ax-button
      color="primary"
      text="Close from inside"
      (onClick)="ref.close({ from: 'custom-template' })"
    ></ax-button>
  </div>
</ng-template>
