<div class="ax-flex ax-h-60 ax-items-center ax-justify-center">
  <ax-menu>
    <ax-menu-item>
      <ax-menu-item-text>Parent</ax-menu-item-text>
      <ax-prefix>
        <ax-icon>
          <i class="fa-solid fa-bars"></i>
        </ax-icon>
      </ax-prefix>
      <ax-menu-item>
        <ax-menu-item-text>Child</ax-menu-item-text>
        <ax-menu-item>
          <ax-menu-item-text>Child 1</ax-menu-item-text>
          <ax-menu-item>
            <ax-menu-item-text>Child 1/1</ax-menu-item-text>
          </ax-menu-item>
          <ax-menu-item>
            <ax-menu-item-text>Child 1/2</ax-menu-item-text>
          </ax-menu-item>
          <ax-menu-item>
            <ax-menu-item-text>Child 1/3</ax-menu-item-text>
          </ax-menu-item>
          <ax-menu-item>
            <ax-menu-item-text>Child 1/4</ax-menu-item-text>
          </ax-menu-item>
          <ax-menu-item>
            <ax-menu-item-text>Child 1/5</ax-menu-item-text>
          </ax-menu-item>
          <ax-menu-item>
            <ax-menu-item-text>Child 1/6</ax-menu-item-text>
          </ax-menu-item>
        </ax-menu-item>
        <ax-menu-item>
          <ax-menu-item-text>Child 2</ax-menu-item-text>
          <ax-menu-item>
            <ax-menu-item-text>Child 2/1</ax-menu-item-text>
          </ax-menu-item>
          <ax-menu-item>
            <ax-menu-item-text>Child 2/2</ax-menu-item-text>
          </ax-menu-item>
          <ax-menu-item>
            <ax-menu-item-text>Child 2/3</ax-menu-item-text>
          </ax-menu-item>
          <ax-menu-item>
            <ax-menu-item-text>Child 2/4</ax-menu-item-text>
          </ax-menu-item>
          <ax-menu-item>
            <ax-menu-item-text>Child 2/5</ax-menu-item-text>
          </ax-menu-item>
          <ax-menu-item>
            <ax-menu-item-text>Child 2/6</ax-menu-item-text>
          </ax-menu-item>
        </ax-menu-item>
        <ax-menu-item>
          <ax-menu-item-text>Child 3</ax-menu-item-text>
          <ax-menu-item>
            <ax-menu-item-text>Child 3/1</ax-menu-item-text>
          </ax-menu-item>
          <ax-menu-item>
            <ax-menu-item-text>Child 3/2</ax-menu-item-text>
          </ax-menu-item>
          <ax-menu-item>
            <ax-menu-item-text>Child 3/3</ax-menu-item-text>
          </ax-menu-item>
          <ax-menu-item>
            <ax-menu-item-text>Child 3/4</ax-menu-item-text>
          </ax-menu-item>
          <ax-menu-item>
            <ax-menu-item-text>Child 3/5</ax-menu-item-text>
          </ax-menu-item>
          <ax-menu-item>
            <ax-menu-item-text>Child 3/6</ax-menu-item-text>
          </ax-menu-item>
        </ax-menu-item>
      </ax-menu-item>
    </ax-menu-item>
  </ax-menu>
</div>
