<div class="ax-flex ax-items-center ax-justify-center ax-gap-4">
  <div>
    <ax-check-box [color]="'default'" [ngModel]="true">
      <ax-label>Default</ax-label>
    </ax-check-box>
    <ax-check-box [color]="'primary'" [ngModel]="true">
      <ax-label>Primary</ax-label>
    </ax-check-box>
    <ax-check-box [color]="'secondary'" [ngModel]="true">
      <ax-label>Secondary</ax-label>
    </ax-check-box>
  </div>
  <div>
    <ax-check-box [color]="'success'" [ngModel]="true">
      <ax-label>Success</ax-label>
    </ax-check-box>
    <ax-check-box [color]="'warning'" [ngModel]="true">
      <ax-label>Warning</ax-label>
    </ax-check-box>
    <ax-check-box [color]="'danger'" [ngModel]="true">
      <ax-label>Danger</ax-label>
    </ax-check-box>
  </div>
</div>
