<div
  class="ax-flex ax-flex-col ax-items-center ax-justify-center ax-gap-8 ax-mt-[20rem]"
>
  <div class="ax-flex ax-flex-col ax-items-center ax-gap-4">
    <h3 class="ax-text-lg ax-font-semibold">Small Chart (300x200)</h3>
    <ax-bar-chart
      [data]="barChartData()"
      [options]="smallChartOptions()"
    ></ax-bar-chart>
  </div>

  <div class="ax-flex ax-flex-col ax-items-center ax-gap-4">
    <h3 class="ax-text-lg ax-font-semibold">Medium Chart (500x350)</h3>
    <ax-bar-chart
      [data]="barChartData()"
      [options]="mediumChartOptions()"
    ></ax-bar-chart>
  </div>

  <div class="ax-flex ax-flex-col ax-items-center ax-gap-4">
    <h3 class="ax-text-lg ax-font-semibold">Large Chart (700x450)</h3>
    <ax-bar-chart
      [data]="barChartData()"
      [options]="largeChartOptions()"
    ></ax-bar-chart>
  </div>
</div>
