<div class="grid grid-cols-1 gap-8 md:grid-cols-2">
  <!-- To Do List -->
  <div>
    <p class="pb-2 text-center text-lg font-semibold">To Do</p>
    <div
      id="todo-list"
      axDropList
      dropListGroup="tasks"
      (dropListDropped)="drop($event)"
      class="drop-list drop-list-sorting-transition bg-background/50 rounded-md border border-dashed border-primary p-2 select-none"
    >
      @for(item of todo; track item) {
      <div
        axDrag
        class="drag bg-background cursor-move rounded border border-transparent p-2 shadow-sm"
      >
        {{ item }}
      </div>
      }
    </div>
  </div>
  <!-- Done List -->
  <div>
    <p class="pb-2 text-center text-lg font-semibold">Done</p>
    <div
      id="done-list"
      axDropList
      dropListGroup="tasks"
      (dropListDropped)="drop($event)"
      class="drop-list drop-list-sorting-transition bg-background/50 rounded-md border border-dashed border-secondary p-2 select-none"
    >
      @for(item of done; track item) {
      <div
        axDrag
        class="drag bg-background cursor-move rounded border border-transparent p-2 shadow-sm"
      >
        {{ item }}
      </div>
      }
    </div>
  </div>
</div>
