<div class="ax-flex ax-gap-2 ax-py-10">
  <ax-button
    color="primary"
    text="SM Popup"
    (onClick)="sizeUsage('sm')"
  ></ax-button>
  <ax-button
    color="primary"
    text="MD Popup"
    (onClick)="sizeUsage('md')"
  ></ax-button>
  <ax-button
    color="primary"
    text="LG Popup"
    (onClick)="sizeUsage('lg')"
  ></ax-button>
  <ax-button
    color="primary"
    text="Full Popup"
    (onClick)="sizeUsage('full')"
  ></ax-button>
  <ax-button
    color="primary"
    text="Fit Popup"
    (onClick)="sizeUsage('fit')"
  ></ax-button>
</div>
