<div class="flex flex-col justify-center items-center p-5">
  <ax-range-slider
    class="w-[20rem] h-5"
    [ngModel]="value().value"
    [min]="value().min"
    [max]="value().max"
    color="primary"
    (ngModelChange)="change($event)"
  ></ax-range-slider>
  <div class="flex gap-4 justify-center items-center">
    <ax-button color="default" (onClick)="previous()">
      <ax-icon>
        <i class="fa-solid fa-backward"></i>
      </ax-icon>
    </ax-button>
    <ax-button color="default" (onClick)="play()">
      <ax-icon>
        <i class="fa-solid" [class]="style()"></i>
      </ax-icon>
    </ax-button>
    <ax-button color="default" (onClick)="next()">
      <ax-icon>
        <i class="fa-solid fa-forward"></i>
      </ax-icon>
    </ax-button>
  </div>
</div>
