<div class="ax-h-96">
  <ax-rail-navigation #railNav class="ax-bg-on-surface" look="pills-color">
    <ax-rail-navigation-item routerLink="/" [active]="true">
      <ax-icon class="fa-solid fa-home"> </ax-icon>
      <ax-text>Home</ax-text>
    </ax-rail-navigation-item>
    <ax-rail-navigation-item>
      <ax-icon class="fa-solid fa-store"> </ax-icon>
      <ax-text>Store</ax-text>
    </ax-rail-navigation-item>
    <ax-rail-navigation-item href="https://google.com/" target="_blank">
      <ax-icon class="fa-brands fa-google"> </ax-icon>
      <ax-text>Google</ax-text>
    </ax-rail-navigation-item>
    <ax-suffix>
      <ax-rail-navigation-item>
        <ax-icon class="fa-solid fa-sun-bright !ax-px-3 !ax-py-2 !ax-text-2xl">
        </ax-icon>
      </ax-rail-navigation-item>
    </ax-suffix>
  </ax-rail-navigation>
</div>
