<p class="pb-2">Vertical List (Default):</p>
<div
  axDropList
  id="simple-list"
  (dropListDropped)="drop($event)"
  class="drop-list max-w-[12.5rem] flex w-full flex-col rounded-sm border border-dashed border-primary"
>
  @for(item of items; track item) {
  <div
    axDrag
    class="drag bg-background cursor-move border-b border-primary/20 px-4 py-2 text-center select-none"
  >
    {{ item }}
  </div>
  }
</div>
<p class="py-2">Horizontal List :</p>
<div
  axDropList
  id="simple-list"
  (dropListDropped)="drop($event)"
  [dropListOrientation]="'horizontal'"
  class="max-w-[12.5rem] flex w-full rounded-sm border border-dashed border-primary"
>
  @for(item of items; track item) {
  <div
    axDrag
    class="drag bg-background w-full cursor-move border-r border-primary/20 px-4 py-2 text-center select-none"
  >
    {{ item }}
  </div>
  }
</div>
