<div class="ax-flex ax-flex-col md:ax-flex-row md:axax-items-center ax-gap-4">
  <ax-button color="default" text="Messages">
    <ax-suffix>
      <ax-badge color="success" text="72"></ax-badge>
    </ax-suffix>
  </ax-button>
  <ax-button color="default" text="Todos">
    <ax-suffix>
      <ax-badge color="primary"></ax-badge>
    </ax-suffix>
  </ax-button>
  <ax-button color="default" text="Notifications">
    <ax-suffix>
      <ax-badge color="danger"></ax-badge>
    </ax-suffix>
  </ax-button>
</div>
