<div
  class="ax-flex ax-flex-col ax-items-center ax-justify-center ax-gap-4 ax-px-4"
>
  <ax-button
    color="primary"
    text="With Close Button"
    (onClick)="showWithCloseButton()"
  ></ax-button>

  <ax-button
    color="warning"
    text="Without Close Button"
    (onClick)="showWithoutCloseButton()"
  ></ax-button>

  <ax-button
    color="danger"
    text="With Close All Button"
    (onClick)="showWithCloseAllButton()"
  ></ax-button>

  <ax-button
    color="success"
    text="Multiple Toasts"
    (onClick)="showMultipleToasts()"
  ></ax-button>
</div>
