<div
  class="flex flex-col items-center justify-center gap-4 px-4"
>
  <ax-button
    color="primary"
    text="With Close Button"
    (onClick)="showWithCloseButton()"
  ></ax-button>

  <ax-button
    color="warning"
    text="Without Close Button"
    (onClick)="showWithoutCloseButton()"
  ></ax-button>

  <ax-button
    color="danger"
    text="With Close All Button"
    (onClick)="showWithCloseAllButton()"
  ></ax-button>

  <ax-button
    color="success"
    text="Multiple Toasts"
    (onClick)="showMultipleToasts()"
  ></ax-button>
</div>
