<div class="ax-flex ax-flex-col ax-gap-1">
  <ax-alert color="default"
    ><ax-icon></ax-icon><ax-title>Default</ax-title></ax-alert
  >
  <ax-alert color="primary"
    ><ax-icon></ax-icon><ax-title>Primary</ax-title></ax-alert
  >
  <ax-alert color="success"
    ><ax-icon></ax-icon><ax-title>Success</ax-title></ax-alert
  >
  <ax-alert color="warning"
    ><ax-icon></ax-icon><ax-title>Warning</ax-title></ax-alert
  >
  <ax-alert color="danger"
    ><ax-icon></ax-icon><ax-title>Danger</ax-title></ax-alert
  >
  <ax-alert color="secondary"
    ><ax-icon></ax-icon><ax-title>Secondary</ax-title></ax-alert
  >
</div>
