<div
  class="ax-mb-16 ax-rounded-lg ax-border ax-border-default ax-bg-surface ax-shadow"
>
  <table class="ax-table-alternate ax-table">
    <thead>
      <tr>
        <th>Size</th>
        <th>Screen</th>
        <th>Width</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="Size">SM</td>
        <td data-label="Screen">Phone</td>
        <td data-label="Width">93vw</td>
      </tr>
      <tr>
        <td data-label="Size">SM</td>
        <td data-label="Screen">Tablet</td>
        <td data-label="Width">55vw</td>
      </tr>
      <tr>
        <td data-label="Size">SM</td>
        <td data-label="Screen">Desktop</td>
        <td data-label="Width">30 vw</td>
      </tr>
      <tr>
        <td data-label="Size">SM</td>
        <td data-label="Screen">Desktop Large</td>
        <td data-label="Width">25vw</td>
      </tr>
      <tr>
        <td data-label="Size">MD</td>
        <td data-label="Screen">Phone</td>
        <td data-label="Width">93vw</td>
      </tr>
      <tr>
        <td data-label="Size">MD</td>
        <td data-label="Screen">Tablet</td>
        <td data-label="Width">65vw</td>
      </tr>
      <tr>
        <td data-label="Size">MD</td>
        <td data-label="Screen">Desktop</td>
        <td data-label="Width">50vw</td>
      </tr>
      <tr>
        <td data-label="Size">MD</td>
        <td data-label="Screen">Desktop Large</td>
        <td data-label="Width">40vw</td>
      </tr>
      <tr>
        <td data-label="Size">LG</td>
        <td data-label="Screen">Phone</td>
        <td data-label="Width">93vw</td>
      </tr>
      <tr>
        <td data-label="Size">LG</td>
        <td data-label="Screen">Tablet</td>
        <td data-label="Width">75vw</td>
      </tr>
      <tr>
        <td data-label="Size">LG</td>
        <td data-label="Screen">Desktop</td>
        <td data-label="Width">85vw</td>
      </tr>
      <tr>
        <td data-label="Size">LG</td>
        <td data-label="Screen">Desktop Large</td>
        <td data-label="Width">65vw</td>
      </tr>
      <tr>
        <td data-label="Size">Full</td>
        <td data-label="Screen">All Screen</td>
        <td data-label="Width">100vw</td>
      </tr>
      <tr>
        <td data-label="Size">Fit</td>
        <td data-label="Screen">All Screen</td>
        <td data-label="Width">fit-content</td>
      </tr>
    </tbody>
  </table>
</div>
