<ax-form [messageStyle]="'float'" [updateOn]="'change'">
  <ax-form-field>
    <ax-select-box
      [dataSource]="dataSource"
      [placeholder]="options.placeholder"
      [emptyTemplate]="customEmptyTemplate"
    >
      <ng-template #customEmptyTemplate>
        <div class="ax-p-2">
          This is a custom template for empty content <br />
        </div>
      </ng-template>
      <ax-search-box look="fill"></ax-search-box>
      <ax-validation-rule message="field can't be empty" rule="required">
      </ax-validation-rule>
      <ax-clear-button></ax-clear-button>
    </ax-select-box>
  </ax-form-field>
</ax-form>
