<ax-drawer-container
  class="ax-min-w-96 ax-border ax-rounded-default ax-flex ax-items-center ax-h-44"
>
  <ax-drawer class="ax-bg-on-surface" #drawer location="start" mode="overlay">
    <ax-header>
      <ax-title> Push Drawer </ax-title>
      <ax-close-button></ax-close-button>
    </ax-header>
    <ax-content class="ax-flex ax-min-w-[300px] ax-flex-col ax-p-8">
      <div>Some contents...</div>
      <div>Some contents...</div>
      <div>Some contents...</div>
    </ax-content>
  </ax-drawer>
  <ax-content class="ax-flex ax-justify-center ax-items-center">
    <ax-button
      color="neutral"
      text="Open Push Drawer"
      (onClick)="drawer.toggle()"
    >
    </ax-button>
  </ax-content>
</ax-drawer-container>
