<div class="w-96">
  <ax-drawer-container class="h-96 w-full">
    <ax-drawer
      (collapsedStateChanged)="onCollapsedChange($event)"
      mode="push"
      #drawer1
      location="start"
      class="bg-surface p-4"
    >
      <ax-header>
        <ax-title> Basic Drawer </ax-title>
        <ax-close-button></ax-close-button>
      </ax-header>
      <ax-content>
        <div>Some contents...</div>
        <div>Some contents...</div>
        <div>Some contents...</div>
      </ax-content>
    </ax-drawer>

    <ax-drawer
      (collapsedStateChanged)="onCollapsedChange($event)"
      mode="overlay"
      #drawer2
      location="end"
      class="bg-surface p-4"
    >
      <ax-header>
        <ax-title> Basic Drawer </ax-title>
        <ax-close-button></ax-close-button>
      </ax-header>
      <ax-content>
        <div>Some contents...</div>
        <div>Some contents...</div>
        <div>Some contents...</div>
      </ax-content>
    </ax-drawer>

    <ax-content
      class="flex h-full w-full items-center justify-around p-3"
    >
      <ax-button (onClick)="drawer1.toggle()" color="primary" text="Open Start">
      </ax-button>

      <ax-button (onClick)="drawer2.toggle()" color="primary" text="Open End">
      </ax-button>
    </ax-content>
  </ax-drawer-container>
</div>
