<div class="ax-w-96">
  <ax-drawer-container class="ax-h-96 ax-w-full">
    <ax-drawer
      (collapsedStateChanged)="onCollapsedChange($event)"
      mode="push"
      #drawer1
      location="start"
      class="ax-bg-surface ax-p-4"
    >
      <ax-header>
        <ax-title> Basic Drawer </ax-title>
        <ax-close-button></ax-close-button>
      </ax-header>
      <ax-content>
        <div>Some contents...</div>
        <div>Some contents...</div>
        <div>Some contents...</div>
      </ax-content>
    </ax-drawer>

    <ax-drawer
      (collapsedStateChanged)="onCollapsedChange($event)"
      mode="overlay"
      #drawer2
      location="end"
      class="ax-bg-surface ax-p-4"
    >
      <ax-header>
        <ax-title> Basic Drawer </ax-title>
        <ax-close-button></ax-close-button>
      </ax-header>
      <ax-content>
        <div>Some contents...</div>
        <div>Some contents...</div>
        <div>Some contents...</div>
      </ax-content>
    </ax-drawer>

    <ax-content
      class="ax-flex ax-h-full ax-w-full ax-items-center ax-justify-around ax-p-3"
    >
      <ax-button (onClick)="drawer1.toggle()" color="primary" text="Open Start">
      </ax-button>

      <ax-button (onClick)="drawer2.toggle()" color="primary" text="Open End">
      </ax-button>
    </ax-content>
  </ax-drawer-container>
</div>
