<ax-text 
    >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis,
    exercitationem.</ax-text
  ><div axDrawerContainer class="mb-3 mt h-32 w-full">
  <div
    (onBackdropClick)="backdropHandler($event)"
    (collapseStateChanged)="onCollapsedChange($event)"
    [closeOnBackdropClick]="true"
    axDrawerItem
    #r="axDrawerItem"
    class="h-full border border-on-surface bg-surface p-2 rounded-lg"
  >
    <ul>
      <li class="text-on-surface cursor-pointer"><ax-text>Home</ax-text></li>
      <li class="my-2 text-on-surface cursor-pointer"><ax-text>About</ax-text></li>
      <li class="text-on-surface cursor-pointer"><ax-text>Contact Us</ax-text></li>
    </ul>
  </div>
  
</div>

<ax-button text="Toggle Drawer" (click)="r.toggle()"></ax-button>
