<div class="mx-auto w-full lg:w-1/2">
  <ax-image
    class="mx-auto h-96 rounded"
    src="https://4kwallpapers.com/images/walls/thumbs_3t/14464.jpg"
    [overlayMode]="'hover'"
  >
    <ax-overlay class="flex justify-center">
      <ax-button
        color="secondary"
        (onClick)="showFullImage(image)"
        text="View Image"
      ></ax-button>
    </ax-overlay>
    <ax-loading></ax-loading>
  </ax-image>
</div>
<ng-template #image>
  <img
    src="https://4kwallpapers.com/images/walls/thumbs_3t/14464.jpg"
    alt="overlay image"
  />
</ng-template>
