<ax-comment-container>
  <ax-comment-view>
    <ax-comment-item>
      <ax-avatar>
        <ax-image src="https://i.pravatar.cc/300"></ax-image>
      </ax-avatar>
      <ax-title>Meysa</ax-title>
      <ax-comment-date>3d</ax-comment-date>
      <ax-comment-menu-options>
        <ax-button class="ax-sm" look="blank" color="secondary ">
          <ax-icon
            icon="ax-icon ax-icon-solid ax-icon-more-horizontal"
          ></ax-icon
        ></ax-button>
        <ax-dropdown-panel>
          <ax-button-item-list>
            <ax-button-item text="Edit" color="secondary">
              <ax-prefix>
                <ax-icon icon="fa-solid fa-edit"></ax-icon>
              </ax-prefix>
            </ax-button-item>

            <ax-button-item text="Delete" color="danger">
              <ax-prefix>
                <ax-icon icon="fa-solid fa-trash-can"></ax-icon>
              </ax-prefix>
            </ax-button-item>
          </ax-button-item-list>
        </ax-dropdown-panel>
      </ax-comment-menu-options>
      <ax-content
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque,
        mollitia.</ax-content
      >
      <ax-comment-like (likedChange)="changeLike($event)" [like]="true"
        >4</ax-comment-like
      >
      <ax-comment-reply-text></ax-comment-reply-text>
    </ax-comment-item>
  </ax-comment-view>
</ax-comment-container>
