<div axDrawerContainer class="mb-3 h-32 w-full">
  <div
    [closeOnBackdropClick]="true"
    mode="overlay"
    axDrawerItem
    #r="axDrawerItem"
    class="h-full border border-on-surface bg-surface p-2 rounded-lg"
  >
    <ul>
      <li class="text-on-surface"><ax-text>Home</ax-text></li>
      <li class="my-2 text-on-surface"><ax-text>About</ax-text></li>
      <li class="text-on-surface"><ax-text>Contact Us</ax-text></li>
    </ul>
  </div>
  <ax-text
    >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis,
    exercitationem.</ax-text
  >
</div>

<div axDrawerContainer class="mb-3 h-32 w-full">
  <div
    backdropClass="ax-bg-red-500"
    mode="push"
    axDrawerItem
    #p="axDrawerItem"
    class="border border-on-surface bg-surface p-2 rounded-lg"
  >
    <ul>
      <li class="text-on-surface"><ax-text>Home</ax-text></li>
      <li class="my-2 text-on-surface"><ax-text>About</ax-text></li>
      <li class="text-on-surface"><ax-text>Contact Us</ax-text></li>
    </ul>
  </div>
  <ax-text
    >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis,
    exercitationem.</ax-text
  >
</div>

<div class="flex justify-center gap-2">
  <ax-button text="Toggle Overlay Drawer" (click)="r.toggle()"></ax-button>
  <ax-button text="Toggle Push Drawer" (click)="p.toggle()"></ax-button>
</div>
