<div class="ax-flex ax-items-center ax-justify-center">
  <ax-breadcrumbs>
    <ax-breadcrumbs-item class="ax-gap-1">
      <div class="ax-flex ax-items-center ax-gap-1">
        <ax-icon icon="far fa-home"></ax-icon>
        <a>Home</a>
      </div>
    </ax-breadcrumbs-item>
    <ax-breadcrumbs-item class="ax-gap-1">
      <div class="ax-flex ax-items-center ax-gap-1">
        <ax-icon icon="far fa-folder"></ax-icon>
        <a>Categories</a>
      </div>
    </ax-breadcrumbs-item>
    <ax-breadcrumbs-item>
      <div class="ax-flex ax-items-center ax-gap-1">
        <ax-icon icon="far fa-headphones"></ax-icon>
        <a>Headsetes</a>
      </div>
    </ax-breadcrumbs-item>
  </ax-breadcrumbs>
</div>
