<div class="ax-flex ax-w-80 ax-items-center ax-justify-center">
    <ax-breadcrumbs>
        <ax-breadcrumbs-item class="ax-gap-1">
            <a>Home</a>
            <ax-icon icon="far fa-home"></ax-icon>
        </ax-breadcrumbs-item>
        <ax-breadcrumbs-item class="ax-gap-1">
            <a>Categories</a>
            <ax-icon icon="far fa-folder"></ax-icon>
        </ax-breadcrumbs-item>
        <ax-breadcrumbs-item class="ax-gap-1">
            <a>Headsetes</a>
            <ax-icon icon="far fa-headphones"></ax-icon>
        </ax-breadcrumbs-item>
    </ax-breadcrumbs>
</div>
