<ax-collapse-group look="fill" [accordion]="true" class="ax-container">
  <ax-collapse
    caption="Google"
    icon="fa-brands fa-google fa-lg"
    [isCollapsed]="true"
    (onClick)="_handleCollapseClick($event)"
  >
    <p>
      Google LLC is an American multinational technology company focusing on
      artificial intelligence, online advertising, search engine technology,
      cloud computing, computer software, quantum computing, e-commerce, and
      consumer electronics.
    </p>
  </ax-collapse>
</ax-collapse-group>
