<div class="flex flex-row items-center justify-center gap-4">
  <ax-datetime-picker
    [ngModel]="selectedDateTime()"
    placeholder="Choose date and time"
    (onValueChanged)="selectedDateTime.set($event.value)"
  ></ax-datetime-picker>

  <div class="flex flex-col items-center gap-2">
    <ax-title>Selected Value</ax-title>
    <ax-subtitle>
      {{
        selectedDateTime()
          ? selectedDateTime()?.toLocaleString()
          : "No date selected"
      }}
    </ax-subtitle>
    <ax-button
      (onClick)="resetToNow()"
      [text]="'Reset to Current Time'"
    ></ax-button>
  </div>
</div>
