<div
  class="ax-w-80 ax-h-60 ax-flex ax-flex-col ax-gap-2 ax-justify-center ax-items-center ax-text-sm"
>
  <ax-progress-bar [progress]="75" [height]="1" color="primary">
    <ax-prefix class="ax-w-12">
      <ax-text> 1PX </ax-text>
    </ax-prefix>
  </ax-progress-bar>
  <ax-progress-bar [progress]="45" [height]="4" color="primary">
    <ax-prefix class="ax-w-12">
      <ax-text>4PX</ax-text>
    </ax-prefix>
  </ax-progress-bar>
  <ax-progress-bar [progress]="35" [height]="8" color="primary">
    <ax-prefix class="ax-w-12">
      <ax-text>8PX</ax-text>
    </ax-prefix>
  </ax-progress-bar>
  <ax-progress-bar [progress]="25" [height]="12" color="primary">
    <ax-prefix class="ax-w-12">
      <ax-text>12PX</ax-text>
    </ax-prefix>
  </ax-progress-bar>
</div>
