<div
  class="w-80 h-60 flex flex-col gap-2 justify-center items-center text-sm"
>
  <ax-progress-bar [progress]="75" [height]="1" color="primary">
    <ax-prefix class="w-12">
      <ax-text> 1PX </ax-text>
    </ax-prefix>
  </ax-progress-bar>
  <ax-progress-bar [progress]="45" [height]="4" color="primary">
    <ax-prefix class="w-12">
      <ax-text>4PX</ax-text>
    </ax-prefix>
  </ax-progress-bar>
  <ax-progress-bar [progress]="35" [height]="8" color="primary">
    <ax-prefix class="w-12">
      <ax-text>8PX</ax-text>
    </ax-prefix>
  </ax-progress-bar>
  <ax-progress-bar [progress]="25" [height]="12" color="primary">
    <ax-prefix class="w-12">
      <ax-text>12PX</ax-text>
    </ax-prefix>
  </ax-progress-bar>
</div>
