<div class="flex flex-col items-center justify-center gap-4">
  <div class="flex flex-col items-center gap-2">
    <div class="flex gap-2">
      <ax-button (click)="goToPrevMonth()" text="Previous Month"></ax-button>
      <ax-button (click)="goToToday()" text="Today"></ax-button>
      <ax-button (click)="goToNextMonth()" text="Next Month"></ax-button>
    </div>
  </div>

  <div class="flex flex-col items-center gap-2">
    <small class="text-center">
      Selected Date:
      {{ selectedDate() ? selectedDate()!.toDateString() : "None" }}
    </small>
    <ax-calendar
      [value]="selectedDate()"
      (onSlotClick)="onDateSelected($event)"
    >
    </ax-calendar>
  </div>
</div>
