<div
  class="ax-flex ax-flex-col ax-items-center ax-justify-center ax-gap-6 ax-py-16 ax-text-center"
>
  <div>
    <div class="ax-h4">OTP Validation States</div>
    <p class="ax-text-sm">Different validation states for the OTP component</p>
  </div>

  <div class="ax-flex ax-flex-wrap ax-justify-center ax-gap-2">
    <ax-button-group>
      @for (state of states; track state.value) {
      <ax-button-group-item
        class="ax-sm"
        [text]="state.label"
        (onClick)="setState(state.value)"
        [selected]="selectedState() === state.value"
      >
      </ax-button-group-item>
      }
    </ax-button-group>
  </div>

  <div class="ax-w-80">
    <ax-otp
      [length]="4"
      [(ngModel)]="otpValue"
      [state]="selectedState()"
      (onCompleted)="onCompleted($event)"
    ></ax-otp>
  </div>

  <div class="ax-text-xs ax-text-muted">
    Current state: <strong>{{ selectedState() }}</strong>
    @if (otpValue()) {
    <br />Value: <strong>{{ otpValue() }}</strong>
    }
  </div>
</div>
