<div class="ax-flex ax-gap-1 ax-flex-col">
  <ax-button-group [color]="'default'" [selection]="selection">
    <ax-button-group-item text="Start" [selected]="true"></ax-button-group-item>
    <ax-button-group-item text="Middle"></ax-button-group-item>
    <ax-button-group-item text="End"></ax-button-group-item>
  </ax-button-group>

  <ax-button-group [color]="'primary'" [selection]="selection">
    <ax-button-group-item text="Start"></ax-button-group-item>
    <ax-button-group-item text="Middle" [selected]="true">
    </ax-button-group-item>
    <ax-button-group-item text="End"></ax-button-group-item>
  </ax-button-group>

  <ax-button-group [color]="'secondary'" [selection]="selection">
    <ax-button-group-item text="Start"></ax-button-group-item>
    <ax-button-group-item text="Middle"> </ax-button-group-item>
    <ax-button-group-item text="End" [selected]="true"></ax-button-group-item>
  </ax-button-group>

  <ax-button-group [color]="'success'" [selection]="selection">
    <ax-button-group-item text="Start"></ax-button-group-item>
    <ax-button-group-item text="Middle" [selected]="true">
    </ax-button-group-item>
    <ax-button-group-item text="End"></ax-button-group-item>
  </ax-button-group>

  <ax-button-group [color]="'warning'" [selection]="selection">
    <ax-button-group-item text="Start" [selected]="true"></ax-button-group-item>
    <ax-button-group-item text="Middle"></ax-button-group-item>
    <ax-button-group-item text="End"></ax-button-group-item>
  </ax-button-group>

  <ax-button-group [color]="'danger'" [selection]="selection">
    <ax-button-group-item text="Start"></ax-button-group-item>
    <ax-button-group-item text="Middle" [selected]="true">
    </ax-button-group-item>
    <ax-button-group-item text="End"></ax-button-group-item>
  </ax-button-group>
</div>
