<div class="ax-flex ax-h-60 ax-w-80 ax-items-center ax-justify-center">
  <ax-menu>
    <ax-menu-item>
      <ax-text>Home</ax-text>
      <ax-prefix>
        <ax-icon>
          <i class="fa-solid fa-house"></i>
        </ax-icon>
      </ax-prefix>
    </ax-menu-item>
    <ax-menu-item>
      <ax-text>Products</ax-text>
      <ax-prefix>
        <ax-icon>
          <i class="fa-solid fa-box-archive"></i>
        </ax-icon>
      </ax-prefix>
    </ax-menu-item>
    <ax-menu-item>
      <ax-text>About</ax-text>
      <ax-prefix>
        <ax-icon>
          <i class="fa-regular fa-address-card"></i>
        </ax-icon>
      </ax-prefix>
    </ax-menu-item>
    <ax-menu-item>
      <ax-text>Contact</ax-text>
      <ax-prefix>
        <ax-icon>
          <i class="fa-solid fa-phone"></i>
        </ax-icon>
      </ax-prefix>
    </ax-menu-item>
  </ax-menu>
</div>
