<div class="ax-flex ax-h-60 ax-w-80 ax-items-center ax-justify-center">
    <ax-menu>
        <ax-menu-item text="Home">
            <ax-prefix>
                <ax-icon>
                    <i class="fa-solid fa-house"></i>
                </ax-icon>
            </ax-prefix>
        </ax-menu-item>
        <ax-menu-item text="Products">
            <ax-prefix>
                <ax-icon>
                    <i class="fa-solid fa-box-archive"></i>
                </ax-icon>
            </ax-prefix>
        </ax-menu-item>
        <ax-menu-item text="About">
            <ax-prefix>
                <ax-icon>
                    <i class="fa-regular fa-address-card"></i>
                </ax-icon>
            </ax-prefix>
        </ax-menu-item>
        <ax-menu-item text="Contact">
            <ax-prefix>
                <ax-icon>
                    <i class="fa-solid fa-phone"></i>
                </ax-icon>
            </ax-prefix>
        </ax-menu-item>
    </ax-menu>
</div>
