<div class="ax-flex ax-flex-col ax-gap-4">
  <div class="ax-flex ax-items-center ax-gap-2">
    <ax-check-box [(ngModel)]="showBadge">
      <ax-label>Show badge</ax-label>
    </ax-check-box>
    <ax-check-box [(ngModel)]="showValue">
      <ax-label>Show value</ax-label>
    </ax-check-box>
    <ax-check-box [(ngModel)]="showIcon">
      <ax-label>Show icon</ax-label>
    </ax-check-box>
  </div>

  <ax-color-box
    [ngModel]="color()"
    (ngModelChange)="color.set($event)"
    [showBadge]="showBadge()"
    [showValue]="showValue()"
    [showIcon]="showIcon()"
  ></ax-color-box>

  <div class="ax-text-sm">Current: {{ color() ?? "null" }}</div>
</div>
