<ax-toolbar>
  <ax-prefix>
    <ax-button color="primary">
      <ax-icon class="ax-icon ax-icon-align-left"></ax-icon>
    </ax-button>
    <ax-divider></ax-divider>
    <ax-button color="primary">
      <ax-icon class="ax-icon ax-icon-align-center"></ax-icon>
    </ax-button>
  </ax-prefix>

  <ax-content>
    <ax-text-box><ax-clear-button></ax-clear-button></ax-text-box>
  </ax-content>

  <ax-suffix>
    <ax-button color="primary">
      <ax-icon class="ax-icon ax-icon-under-line"></ax-icon>
    </ax-button>
  </ax-suffix>
</ax-toolbar>
