<ax-toolbar>
  <ax-prefix>
    <ax-button color="primary">
      <ax-icon>
        <i class="fa-solid fa-align-left"></i>
      </ax-icon>
    </ax-button>
    <ax-divider></ax-divider>
    <ax-button color="primary">
      <ax-icon>
        <i class="fa-solid fa-align-center"></i>
      </ax-icon>
    </ax-button>
  </ax-prefix>

  <ax-content>
    <ax-text-box><ax-clear-button></ax-clear-button></ax-text-box>
  </ax-content>

  <ax-suffix>
    <ax-button color="primary">
      <ax-icon>
        <i class="fa-solid fa-underline"></i>
      </ax-icon>
    </ax-button>
  </ax-suffix>
</ax-toolbar>
