<div
  class="w-[100vw] h-[100vh] flex justify-center items-center flex-col gap-4 p-4"
>
  <div class="flex items-center gap-2">
    <span class="text-sm font-medium">Select Mode:</span>
    <ax-select-box
      [dataSource]="modes()"
      [ngModel]="selectedMode()"
      (onValueChanged)="onModeChange($event.value)"
      style="width: 250px"
    ></ax-select-box>
  </div>

  @defer () {
  <ax-scheduler
    selectedView="month"
    [endDayHour]="endDayHour()"
    [startingDate]="startingDate()"
    [startDayHour]="startDayHour()"
    [dataSource]="appointmentsData()"
    class="bg-lightest dark:bg-darkest h-[90%]"
  ></ax-scheduler>
  }
</div>
