<div
  class="ax-flex ax-h-64 ax-w-full ax-items-center ax-justify-center ax-gap-4"
>
  <ax-loading-spinner
    [size]="32"
    [stroke]="2"
    color="primary"
  ></ax-loading-spinner>
  <ax-loading-spinner
    [size]="32"
    [stroke]="4"
    color="primary"
  ></ax-loading-spinner>
  <ax-loading-spinner
    [size]="32"
    [stroke]="6"
    color="primary"
  ></ax-loading-spinner>
  <ax-loading-spinner
    [size]="32"
    [stroke]="8"
    color="primary"
  ></ax-loading-spinner>
  <ax-loading-spinner
    [size]="32"
    [stroke]="10"
    color="primary"
  ></ax-loading-spinner>
</div>
