<div
  class="flex flex-col items-center justify-center gap-2 px-4"
>
  <div class="flex gap-2 items-center">
    <ax-button
      [text]="'Toggle Disabled'"
      [class.state-selected]="disabled()"
      (click)="disabled.set(!this.disabled())"
    ></ax-button>
    <ax-button
      [text]="'Toggle Readonly'"
      [class.state-selected]="readonly()"
      (click)="readonly.set(!this.readonly())"
    ></ax-button>
  </div>
  <ax-calendar-range
    [disabled]="disabled()"
    [readonly]="readonly()"
  ></ax-calendar-range>
</div>
