<div class="ax-flex ax-flex-col ax-gap-6 ax-items-center">
  <div class="ax-flex ax-gap-2 ax-flex-wrap">
    <ax-button-group>
      <ax-button-group-item
        text="Small"
        (onClick)="setSize('ax-sm')"
        [selected]="selectedSize() === 'ax-sm'"
      ></ax-button-group-item>
      <ax-button-group-item
        text="Medium"
        (onClick)="setSize('ax-md')"
        [selected]="selectedSize() === 'ax-md'"
      ></ax-button-group-item>
      <ax-button-group-item
        text="Large"
        (onClick)="setSize('ax-lg')"
        [selected]="selectedSize() === 'ax-lg'"
      ></ax-button-group-item>
    </ax-button-group>
  </div>

  <ax-step-wizard
    #wizard
    [connector]="true"
    class="ax-w-[45rem]"
    [scrollToStep]="false"
    [size]="selectedSize()"
    [look]="'circular-icon'"
  >
    <ax-step-wizard-item
      [label]="'Setup'"
      [description]="'Initial configuration'"
      [id]="'setup'"
    >
      <ax-icon class="fas fa-cog"></ax-icon>
    </ax-step-wizard-item>

    <ax-step-wizard-item
      [label]="'Install'"
      [description]="'Install dependencies'"
      [id]="'install'"
    >
      <ax-icon class="fas fa-box"></ax-icon>
    </ax-step-wizard-item>

    <ax-step-wizard-item
      [label]="'Configure'"
      [description]="'Final setup'"
      [id]="'configure'"
    >
      <ax-icon class="fas fa-wrench"></ax-icon>
    </ax-step-wizard-item>

    <ax-step-wizard-item
      [label]="'Deploy'"
      [description]="'Go live'"
      [id]="'deploy'"
    >
      <ax-icon class="fas fa-rocket"></ax-icon>
    </ax-step-wizard-item>
  </ax-step-wizard>

  <div class="ax-flex ax-justify-center ax-gap-2">
    <ax-button
      look="outline"
      text="Previous"
      color="primary"
      (onClick)="wizard.previous()"
      [disabled]="wizard.isFirst()"
    ></ax-button>
    <ax-button
      text="Next"
      color="primary"
      (onClick)="wizard.next()"
      [disabled]="wizard.isLast()"
    ></ax-button>
  </div>
</div>
