<div
  class="w-[100vw] h-[100vh] flex justify-center items-center flex-col gap-4 p-4"
>
  <div class="flex items-center gap-4">
    <div class="flex items-center gap-2">
      <span class="text-sm font-medium">Draggable:</span>
      <ax-select-box
        [ngModel]="draggable()"
        [dataSource]="options()"
        (onValueChanged)="onDraggableChange($event.value)"
        style="width: 150px"
      ></ax-select-box>
    </div>

    <div class="flex items-center gap-2">
      <span class="text-sm font-medium">Start Delay:</span>
      <ax-select-box
        [disabled]="!draggable()"
        [ngModel]="dragStartDelay()"
        [dataSource]="delayOptions()"
        (onValueChanged)="onDelayChange($event.value)"
        style="width: 150px"
      ></ax-select-box>
    </div>
  </div>

  @defer () {
  <ax-scheduler
    [selectedView]="'month'"
    [draggable]="draggable()"
    [startingDate]="startingDate()"
    [dataSource]="appointmentsData()"
    [dragStartDelay]="dragStartDelay()"
    (onAppointmentDrop)="onAppointmentDrop($event)"
    class="bg-lightest dark:bg-darkest h-[90%]"
  ></ax-scheduler>
  }
</div>
