<div class="flex flex-col items-center justify-center gap-4">
  <div class="flex flex-col gap-4 w-full max-w-2xl">
    <div class="flex gap-4 justify-center">
      @for (location of locations; track location) {
      <ax-button
        (onClick)="onLocationChange(location)"
        [text]="`${location === 'start' ? 'Left' : 'Right'} Side`"
        [look]="currentLocation() === location ? 'solid' : 'outline'"
      >
      </ax-button>
      }
    </div>

    <div
      class="h-[400px] border border-surface-low rounded-lg relative"
    >
      <ax-rail-navigation
        [location]="currentLocation()"
        look="with-line-color"
        class="absolute top-0 bottom-0"
        [class.left-0]="currentLocation() === 'start'"
        [class.right-0]="currentLocation() === 'end'"
      >
        <ax-rail-navigation-item [active]="true">
          <ax-icon class="fa-solid fa-home"></ax-icon>
          <ax-text>Home</ax-text>
        </ax-rail-navigation-item>
        <ax-rail-navigation-item>
          <ax-icon class="fa-solid fa-store"></ax-icon>
          <ax-text>Store</ax-text>
        </ax-rail-navigation-item>
        <ax-rail-navigation-item>
          <ax-icon class="fa-solid fa-user"></ax-icon>
          <ax-text>Profile</ax-text>
        </ax-rail-navigation-item>
        <ax-rail-navigation-item>
          <ax-icon class="fa-solid fa-cog"></ax-icon>
          <ax-text>Settings</ax-text>
        </ax-rail-navigation-item>
        <ax-suffix>
          <ax-rail-navigation-item>
            <ax-icon class="fa-solid fa-sun-bright"></ax-icon>
          </ax-rail-navigation-item>
        </ax-suffix>
      </ax-rail-navigation>
    </div>
  </div>
</div>
