<div
  class="ax-flex ax-flex-wrap ax-gap-8 ax-justify-center ax-items-end ax-p-4"
>
  <ax-qrcode
    [content]="'https://www.acorexui.com/'"
    [size]="128"
    [color]="'#059669'"
    [backgroundColor]="'#ffffff'"
    [level]="'M'"
    [outputType]="'canvas'"
  ></ax-qrcode>

  <ax-qrcode
    [content]="'https://www.acorexui.com/'"
    [size]="256"
    [color]="'#2563eb'"
    [backgroundColor]="'#ffffff'"
    [level]="'M'"
    [outputType]="'canvas'"
  ></ax-qrcode>

  <ax-qrcode
    [content]="'https://www.acorexui.com/'"
    [size]="400"
    [color]="'#dc2626'"
    [backgroundColor]="'#ffffff'"
    [level]="'M'"
    [outputType]="'canvas'"
  ></ax-qrcode>

  <ax-qrcode
    [content]="'https://www.acorexui.com/'"
    [size]="512"
    [color]="'#7c3aed'"
    [backgroundColor]="'#ffffff'"
    [level]="'M'"
    [outputType]="'canvas'"
  ></ax-qrcode>
</div>
