<div class="ax-flex ax-flex-col ax-items-center">
  <ax-form labelMode="static">
    <div
      class="ax-flex ax-w-80 ax-flex-col ax-justify-center ax-gap-4 ax-py-10"
    >
      <div class="ax-flex ax-w-full ax-flex-row ax-gap-4">
        <ax-form-field class="ax-flex-1">
          <ax-label>Firstname</ax-label>
          <ax-text-box name="firstname">
            <ax-validation-rule rule="required"> </ax-validation-rule>
          </ax-text-box>
        </ax-form-field>
        <ax-form-field class="ax-flex-1">
          <ax-label>Lastname</ax-label>
          <ax-text-box name="lastname">
            <ax-validation-rule rule="required"> </ax-validation-rule>
          </ax-text-box>
        </ax-form-field>
      </div>
    </div>
  </ax-form>

  <ax-form labelMode="over">
    <div
      class="ax-flex ax-w-80 ax-flex-col ax-justify-center ax-gap-4 ax-py-10"
    >
      <div class="ax-flex ax-w-full ax-flex-row ax-gap-4">
        <ax-form-field class="ax-flex-1">
          <ax-label>Firstname</ax-label>
          <ax-text-box name="firstname">
            <ax-validation-rule rule="required"> </ax-validation-rule>
          </ax-text-box>
        </ax-form-field>
        <ax-form-field class="ax-flex-1">
          <ax-label>Lastname</ax-label>
          <ax-text-box name="lastname">
            <ax-validation-rule rule="required"> </ax-validation-rule>
          </ax-text-box>
        </ax-form-field>
      </div>
    </div>
  </ax-form>

  <ax-form labelMode="floating">
    <div
      class="ax-flex ax-w-80 ax-flex-col ax-justify-center ax-gap-4 ax-py-10"
    >
      <div class="ax-flex ax-w-full ax-flex-row ax-gap-4">
        <ax-form-field class="ax-flex-1">
          <ax-label>Firstname</ax-label>
          <ax-text-box name="firstname">
            <ax-validation-rule rule="required"> </ax-validation-rule>
          </ax-text-box>
        </ax-form-field>
        <ax-form-field class="ax-flex-1">
          <ax-label>Lastname</ax-label>
          <ax-text-box name="lastname">
            <ax-validation-rule rule="required"> </ax-validation-rule>
          </ax-text-box>
        </ax-form-field>
      </div>
    </div>
  </ax-form>
</div>
