<ax-fab
  axTooltipPlacement="start"
  [axTooltipOffsetX]="-5"
  axTooltip="tooltip"
  (onClick)="click($event)"
>
  <ax-icon class="ax-icon ax-icon-pen"></ax-icon>
  <ax-fab-item
    axTooltipPlacement="start"
    [axTooltipOffsetX]="-5"
    axTooltip="tooltip"
    (onClick)="click($event)"
  >
    <ax-icon class="ax-icon ax-icon-eraser"></ax-icon>
  </ax-fab-item>
  <ax-fab-item
    axTooltipPlacement="start"
    [axTooltipOffsetX]="-5"
    axTooltip="tooltip"
    (onClick)="click($event)"
  >
    <ax-icon class="ax-icon ax-icon-highlight"></ax-icon>
  </ax-fab-item>
</ax-fab>
