<div class="flex flex-col gap-4">
  <ax-tabs (onActiveTabChanged)="onTabChanged($event)">
    <ax-tab-item text="Home" [active]="true"></ax-tab-item>
    <ax-tab-item text="About"></ax-tab-item>
    <ax-tab-item text="Contact"></ax-tab-item>
    <ax-tab-item text="Settings"></ax-tab-item>
  </ax-tabs>

  <div class="surface p-4 rounded-lg">
    <ax-title size="sm">Event Information</ax-title>
    <p><strong>Selected Tab:</strong> {{ selectedTab() }}</p>
    <p><strong>Selected Index:</strong> {{ selectedIndex() }}</p>
  </div>
</div>
