<div
  class="ax-flex ax-w-full ax-items-center ax-justify-center ax-gap-6 ax-py-6"
>
  <ax-chips text="Primary" color="primary" look="solid">
    <ax-prefix>
      <ax-icon icon="fa-solid fa-bars"></ax-icon>
    </ax-prefix>
    <ax-suffix>
      <ax-icon icon="ax-icon ax-icon-close"></ax-icon>
    </ax-suffix>
  </ax-chips>
  <ax-chips text="warning" color="warning" look="solid">
    <ax-prefix>
      <ax-icon icon="fa-solid fa-bars"></ax-icon>
    </ax-prefix>
    <ax-suffix>
      <ax-icon icon="ax-icon ax-icon-close"></ax-icon>
    </ax-suffix>
  </ax-chips>
  <ax-chips text="success" color="success" look="solid">
    <ax-prefix>
      <ax-icon icon="fa-solid fa-bars"></ax-icon>
    </ax-prefix>
    <ax-suffix>
      <ax-icon icon="ax-icon ax-icon-close"></ax-icon>
    </ax-suffix>
  </ax-chips>
  <ax-chips text="danger" color="danger" look="solid">
    <ax-prefix>
      <ax-icon icon="fa-solid fa-bars"></ax-icon>
    </ax-prefix>
    <ax-suffix>
      <ax-icon icon="ax-icon ax-icon-close"></ax-icon>
    </ax-suffix>
  </ax-chips>
  <ax-chips text="ghost" color="ghost" look="solid">
    <ax-prefix>
      <ax-icon icon="fa-solid fa-bars"></ax-icon>
    </ax-prefix>
    <ax-suffix>
      <ax-icon icon="ax-icon ax-icon-close"></ax-icon>
    </ax-suffix>
  </ax-chips>
</div>
