<div class="ax-flex ax-items-center ax-justify-center ax-gap-4 ax-flex-col">
  <ax-chips text="Primary" color="primary" look="solid">
    <ax-prefix>
      <ax-icon icon="fa-solid fa-bars"></ax-icon>
    </ax-prefix>
    <ax-suffix>
      <ax-icon icon="ax-icon ax-icon-close"></ax-icon>
    </ax-suffix>
  </ax-chips>
  <ax-chips text="Secondary" color="secondary" look="solid">
    <ax-prefix>
      <ax-icon icon="fa-solid fa-bars"></ax-icon>
    </ax-prefix>
    <ax-suffix>
      <ax-icon icon="ax-icon ax-icon-close"></ax-icon>
    </ax-suffix>
  </ax-chips>
  <ax-chips text="Warning" color="warning" look="solid">
    <ax-prefix>
      <ax-icon icon="fa-solid fa-bars"></ax-icon>
    </ax-prefix>
    <ax-suffix>
      <ax-icon icon="ax-icon ax-icon-close"></ax-icon>
    </ax-suffix>
  </ax-chips>
  <ax-chips text="Success" color="success" look="solid">
    <ax-prefix>
      <ax-icon icon="fa-solid fa-bars"></ax-icon>
    </ax-prefix>
    <ax-suffix>
      <ax-icon icon="ax-icon ax-icon-close"></ax-icon>
    </ax-suffix>
  </ax-chips>
  <ax-chips text="Danger" color="danger" look="solid">
    <ax-prefix>
      <ax-icon icon="fa-solid fa-bars"></ax-icon>
    </ax-prefix>
    <ax-suffix>
      <ax-icon icon="ax-icon ax-icon-close"></ax-icon>
    </ax-suffix>
  </ax-chips>
  <ax-chips text="Default" color="default" look="solid">
    <ax-prefix>
      <ax-icon icon="fa-solid fa-bars"></ax-icon>
    </ax-prefix>
    <ax-suffix>
      <ax-icon icon="ax-icon ax-icon-close"></ax-icon>
    </ax-suffix>
  </ax-chips>
</div>
