<div
  class="ax-flex ax-flex-col ax-items-center ax-justify-center ax-gap-6 ax-py-8"
>
  <div class="ax-w-72">
    <ax-form-field>
      <ax-label>Meeting date and time</ax-label>
      <ax-datetime-box
        [calendar]="currentCalendar()"
        placeholder="Select the meeting date and time"
      >
        <ax-clear-button></ax-clear-button>
      </ax-datetime-box>
    </ax-form-field>
  </div>

  <div class="ax-flex ax-flex-wrap ax-gap-2 ax-justify-center">
    @for (calendar of calendars; track calendar.value) {
    <ax-button
      class="ax-sm"
      [text]="calendar.label"
      (click)="setCalendar(calendar.value)"
      [look]="currentCalendar() === calendar.value ? 'solid' : 'outline'"
    ></ax-button>
    }
  </div>
</div>
