<div class="flex flex-col items-center justify-center gap-2">
  <div class="flex gap-2">
    <ax-button
      look="outline"
      [text]="'First'"
      (onClick)="index = 0"
    ></ax-button>
    <ax-button
      look="outline"
      [text]="'Second'"
      (onClick)="index = 1"
    ></ax-button>
    <ax-button
      look="outline"
      [text]="'Third'"
      (onClick)="index = 2"
    ></ax-button>
  </div>
  <ax-collapse-group
    [accordion]="true"
    [activeIndex]="index"
    class="container px-12 gap-2"
  >
    <ax-collapse caption="Panel 1"></ax-collapse>
    <ax-collapse caption="Panel 2"></ax-collapse>
    <ax-collapse caption="Panel 3"></ax-collapse>
  </ax-collapse-group>
</div>
