<ax-time-line class="ax-px-6">
  <ax-time-line-item text="January 1, 2024" [isActive]="true">
    <ax-icon class="fa-solid fa-flag-checkered"></ax-icon>
    <ax-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolor
      deleniti cupiditate nostrum id. Ipsum error enim ipsa, libero velit
      voluptate porro dolor quaerat. Similique quis qui voluptatum odio unde.
    </ax-content>
  </ax-time-line-item>
  <ax-time-line-item text="January 10, 2024">
    <ax-icon class="fa-solid fa-flag-checkered"></ax-icon>
    <ax-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolor
      deleniti cu piditate nostrum id. Ipsum error enim ipsa, libero velit
      voluptate porro dolor quaerat. Similique quis qui voluptatum odio unde.
    </ax-content>
  </ax-time-line-item>
  <ax-time-line-item text="February 6, 2024">
    <ax-icon class="fa-solid fa-flag-checkered"></ax-icon>
    <ax-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolor
      deleniti cupiditate nostrum id. Ipsum error enim ipsa, libero velit
      voluptate porro dolor quaerat. Similique quis qui voluptatum odio unde.
    </ax-content>
  </ax-time-line-item>
</ax-time-line>
