<div
  class="ax-w-60 ax-rounded-md ax-bg-secondary-surface ax-p-2 ax-text-secondary-on-surface"
>
  <ax-side-menu>
    <ax-side-menu-item>
      <span>Dashboard</span>
      <ax-prefix>
        <ax-icon>
          <i class="fa-solid fa-gauge-simple"></i>
        </ax-icon>
      </ax-prefix>
    </ax-side-menu-item>
    <ax-side-menu-item>
      <span>Users</span>
      <ax-prefix>
        <ax-icon>
          <i class="fa-solid fa-user-group"></i>
        </ax-icon>
      </ax-prefix>
      <ax-side-menu-item>
        <span>List of users</span>
      </ax-side-menu-item>
      <ax-side-menu-item>
        <span>Verified users</span>
      </ax-side-menu-item>
      <ax-side-menu-item>
        <span>Unverified users</span>
      </ax-side-menu-item>
      <ax-side-menu-item>
        <span>Users are blocked</span>
      </ax-side-menu-item>
    </ax-side-menu-item>
    <ax-side-menu-item [isCollapsed]="true">
      <span>Comments</span>
      <ax-prefix>
        <ax-icon>
          <i class="fa-solid fa-comments"></i>
        </ax-icon>
      </ax-prefix>
      <ax-suffix>
        <ax-badge text="+3" color="danger"></ax-badge>
      </ax-suffix>
      <ax-side-menu-item
        text="All Comments"
        [disabled]="_options.disabled"
      ></ax-side-menu-item>
      <ax-side-menu-item
        text="Comments approved"
        [disabled]="_options.disabled"
      ></ax-side-menu-item>
      <ax-side-menu-item text="Unverified comments"></ax-side-menu-item>
    </ax-side-menu-item>
  </ax-side-menu>
</div>
