<div class="flex flex-row items-center justify-center gap-4">
  <div class="flex flex-col items-center">
    <ax-label>Picker Mode</ax-label>
    <ax-select-box
      valueField="id"
      textField="text"
      [dataSource]="pickerModes"
      [ngModel]="currentPickerMode()"
      (onValueChanged)="onPickerModeChange($event)"
    ></ax-select-box>
  </div>

  <ax-datetime-picker
    [ngModel]="selectedValue()"
    [picker]="currentPickerMode()"
    placeholder="Select date/time"
    (onValueChanged)="selectedValue.set($event.value)"
  ></ax-datetime-picker>
</div>
