<ax-form>
  <ax-form-field>
    <ax-paint-container [look]="options().look" [(ngModel)]="value">
      <ax-paint-view #c class="ax-h-80"></ax-paint-view>
      <ax-paint-toolbar>
        <ax-paint-pen-mode-changer
          [penTypes]="['pen']"
          [sizeSlider]="false"
          [defaultWidth]="3"
        ></ax-paint-pen-mode-changer>
        <ax-suffix>
          <ax-button
            type="submit"
            (onClick)="outputHandler(c)"
            color="primary"
            text="Output"
          ></ax-button
        ></ax-suffix>
      </ax-paint-toolbar>
      <ax-validation-rule
        rule="callback"
        [options]="{ validate: validateFn }"
      ></ax-validation-rule>
    </ax-paint-container>
  </ax-form-field>
</ax-form>
