.custom-overlay-icon {
  animation: bounce 1s infinite;
}

.custom-overlay-dot {
  background-color: rgba(var(--ax-sys-color-primary-500), 1);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  
  &:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  &:nth-child(3) {
    animation-delay: 0.4s;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

