<div class="ax-flex ax-flex-col ax-gap-1">
  <!-- Auto icon (component assigns based on color) -->
  <ax-alert color="primary">
    <ax-icon></ax-icon>
    <ax-title>Auto icon</ax-title>
    <ax-content>
      This is a simple content for the alert.you can add more content here.
    </ax-content>
  </ax-alert>

  <!-- Custom icon content prevents auto override -->
  <ax-alert color="success">
    <ax-icon class="fa-solid fa-heart"> </ax-icon>
    <ax-title>Custom icon</ax-title>
    <ax-content>
      This is a simple content for the alert.you can add more content here.
    </ax-content>
  </ax-alert>
</div>
