<div
  class="w-[100vw] h-[100vh] flex justify-center items-center flex-col gap-4 p-4"
>
  <div
    class="flex items-center gap-4 p-4 surface rounded-lg w-full"
  >
    <div class="flex items-center gap-2">
      <span class="text-sm font-medium">View:</span>
      <ax-select-box
        [dataSource]="views()"
        [ngModel]="selectedView()"
        (onValueChanged)="onViewChange($event.value)"
        style="width: 150px"
      ></ax-select-box>
    </div>

    <div class="flex items-center gap-2">
      <ax-button (click)="goToPrevious()" class="ax-sm" look="secondary">
        <ax-icon name="chevron-left"></ax-icon>
      </ax-button>
      <div class="text-center min-w-[120px]">
        <div class="font-medium">
          {{ currentDateText }}
        </div>
      </div>
      <ax-button (click)="goToNext()" class="ax-sm" look="secondary">
        <ax-icon name="chevron-right"></ax-icon>
      </ax-button>
    </div>
    <div class="flex justify-center">
      <ax-button (click)="goToToday()" text="Today" class="ax-sm"> </ax-button>
    </div>
  </div>

  <ax-scheduler
    [selectedView]="'month'"
    [hasHeader]="hasHeader()"
    [views]="[selectedView()]"
    [startingDate]="startingDate()"
    [selectedView]="selectedView()"
    [dataSource]="appointmentsData()"
    class="bg-lightest dark:bg-darkest h-[90%]"
  ></ax-scheduler>
</div>
