<div class="ax-w-80 ax-h-60 ax-flex ax-justify-center ax-items-center ax-gap-4">
  <ax-circular-progress
    [size]="24"
    [stroke]="8"
    [progress]="75"
    color="success"
  >
  </ax-circular-progress>
  <ax-circular-progress
    [size]="48"
    [stroke]="8"
    [progress]="75"
    color="warning"
  >
  </ax-circular-progress>
  <ax-circular-progress [size]="72" [stroke]="8" [progress]="75">
  </ax-circular-progress>
  <ax-circular-progress [size]="48" [stroke]="8" [progress]="50" color="danger">
  </ax-circular-progress>
  <ax-circular-progress [size]="24" [stroke]="8" [progress]="25" color="info">
  </ax-circular-progress>
</div>
