<div class="ax-flex ax-items-center">
  <ax-form
    #form1
    [updateOn]="options.validateOn"
    [messageStyle]="options.messageStyle"
  >
    <div
      class="ax-flex ax-w-80 ax-flex-col ax-justify-center ax-gap-4 ax-py-10"
    >
      <div class="ax-flex ax-w-full ax-flex-row ax-gap-4">
        <ax-form-field class="ax-flex-1">
          <ax-label>Firstname</ax-label>
          <ax-text-box name="firstname">
            <ax-validation-rule rule="required"> </ax-validation-rule>
          </ax-text-box>
        </ax-form-field>
        <ax-form-field class="ax-flex-1">
          <ax-label>Lastname</ax-label>
          <ax-text-box name="lastname">
            <ax-validation-rule rule="required"> </ax-validation-rule>
          </ax-text-box>
        </ax-form-field>
      </div>
      <ax-form-field>
        <ax-label>Email</ax-label>
        <ax-text-box name="Email">
          <ax-validation-rule rule="required"> </ax-validation-rule>
          <ax-validation-rule rule="custom" value="email"> </ax-validation-rule>
        </ax-text-box>
      </ax-form-field>
      <div class="ax-flex ax-w-full ax-flex-row ax-gap-4">
        <ax-form-field class="ax-flex-1">
          <ax-label>Birth Date</ax-label>
          <ax-datetime-box name="Birth Date" [format]="'yyyy/MM/dd'">
            <ax-validation-rule rule="required"></ax-validation-rule>
          </ax-datetime-box>
        </ax-form-field>
      </div>
      <div class="ax-flex ax-w-full ax-flex-row ax-gap-4">
        <ax-button
          class="ax-flex-1"
          [type]="'submit'"
          text="Submit"
          color="primary"
        >
        </ax-button>
        <ax-button
          class="ax-flex-1"
          [type]="'reset'"
          text="Clear"
          color="danger"
          [look]="'outline'"
        >
        </ax-button>
      </div>
    </div>
  </ax-form>
</div>
