<div class="flex flex-col items-center justify-center gap-4">
  <div class="flex items-center gap-2">
    <span class="font-medium">Selection Mode:</span>
    <span class="text-sm text-muted">{{ selectionMode() }}</span>
    <ax-button
      class="ax-sm"
      text="Toggle Mode"
      (onClick)="toggleSelectionMode()"
    >
    </ax-button>
  </div>

  <div class="size-96">
    <ax-list
      [valueField]="'id'"
      [textField]="'text'"
      [dataSource]="dataSource"
      [checkbox]="selectionMode() !== 'none'"
      [multiple]="selectionMode() === 'multiple'"
      class="default border border-default"
    >
    </ax-list>
  </div>
</div>
