<ax-form>
  <ax-form-field>
    <ax-wysiwyg-container
      [look]="options().look"
      (ngModelChange)="valueChange($event)"
      [(ngModel)]="value"
    >
      <ax-wysiwyg-view class="ax-min-h-28"></ax-wysiwyg-view>
      <ax-wysiwyg-toolbar>
        <ax-prefix>
          <ax-wysiwyg-history></ax-wysiwyg-history>
          <ax-wysiwyg-font-style></ax-wysiwyg-font-style>
          <ax-wysiwyg-colors></ax-wysiwyg-colors>
          <ax-wysiwyg-list></ax-wysiwyg-list>
          <ax-wysiwyg-alignment></ax-wysiwyg-alignment>
          <ax-wysiwyg-insert></ax-wysiwyg-insert>
        </ax-prefix>

        <ax-suffix>
          <ax-button
            class="ax-sm"
            type="submit"
            color="primary"
            text="Send"
          ></ax-button>
        </ax-suffix>
      </ax-wysiwyg-toolbar>
      <ax-validation-rule
        rule="callback"
        [options]="{ validate: validateFn }"
      ></ax-validation-rule>
    </ax-wysiwyg-container>
  </ax-form-field>
</ax-form>
