<div
  class="ax-w-60 ax-rounded-md ax-bg-primary-surface ax-p-2 ax-text-primary-on-surface"
>
  <ax-side-menu>
    <ax-side-menu-item [isCollapsed]="true" [disabled]="_options.disabled">
      <span>Comments</span>
      <ax-prefix>
        <ax-icon>
          <i class="fa-solid fa-comments"></i>
        </ax-icon>
      </ax-prefix>
      <ax-suffix>
        <ax-badge text="+3" color="danger"></ax-badge>
      </ax-suffix>
      <ax-side-menu-item>
        <span>All Comments</span>
      </ax-side-menu-item>
      <ax-side-menu-item>
        <span>Comments approved</span>
      </ax-side-menu-item>
      <ax-side-menu-item>
        <span>Unverified comments</span>
      </ax-side-menu-item>
    </ax-side-menu-item>
  </ax-side-menu>
</div>
