<div class="flex flex-col items-center justify-center gap-2">
  <ax-collapse-group class="container px-12 gap-2" [look]="'solid'">
    <ax-collapse caption="Solid Look">
      <p>Solid look header with border/background.</p>
    </ax-collapse>
  </ax-collapse-group>
  <ax-collapse-group class="container px-12 gap-2" [look]="'fill'">
    <ax-collapse caption="Fill Look">
      <p>Fill look header with rounded background.</p>
    </ax-collapse>
  </ax-collapse-group>
  <ax-collapse-group class="container px-12 gap-2" [look]="'outline'">
    <ax-collapse caption="Outline Look">
      <p>Outline look with transparent header and borders.</p>
    </ax-collapse>
  </ax-collapse-group>
  <ax-collapse-group class="container px-12 gap-2" [look]="'flat'">
    <ax-collapse caption="Flat Look">
      <p>Flat look with only bottom border.</p>
    </ax-collapse>
  </ax-collapse-group>
</div>
