<div class="size-96">
  <ax-list
    class="default border border-default"
    [dataSource]="dataSource"
    [valueField]="'id'"
    [textField]="'text'"
    [emptyTemplate]="customEmptyTemplate"
  >
  </ax-list>
  <ng-template #customEmptyTemplate>
    <div
      class="flex flex-col items-center justify-center gap-2 text-center"
    >
      <i class="icon icon-inbox text-4xl text-muted"></i>
      <span class="font-medium">No items found</span>
      <span class="text-sm text-muted">
        Try adjusting your search criteria
      </span>
    </div>
  </ng-template>
</div>
