<div
  class="ax-flex ax-flex-col ax-items-center ax-justify-center ax-gap-4 ax-p-4"
>
  <div class="ax-w-64">
    <ax-button-item-list
      [items]="items()"
      (onItemClick)="handleItemClick($event)"
      class="ax-rounded-lg ax-border ax-border-surface"
    >
      <!-- Content projection items -->
      <ax-button-item
        text="Custom Item 1"
        name="custom1"
        color="primary"
        (onClick)="handleClick($event)"
      >
        <ax-prefix>
          <ax-icon icon="fa-solid fa-star"></ax-icon>
        </ax-prefix>
      </ax-button-item>

      <ax-button-item
        text="Custom Item 2"
        name="custom2"
        color="success"
        [divided]="true"
        (onClick)="handleClick($event)"
      >
        <ax-prefix>
          <ax-icon icon="fa-solid fa-heart"></ax-icon>
        </ax-prefix>
      </ax-button-item>
    </ax-button-item-list>
  </div>
</div>
