<div
  class="w-[100vw] h-[100vh] flex justify-center items-center flex-col gap-4 p-4"
>
  <div class="flex items-center gap-4 mb-4">
    <span class="text-sm font-medium">Resource Headers:</span>
    <ax-select-box
      style="width: 150px"
      [dataSource]="resourceHeaderOptions()"
      [ngModel]="showResourceHeaders()"
      (onValueChanged)="onResourceHeadersChange($event.value)"
    >
    </ax-select-box>

    <span class="text-sm font-medium">Unassigned:</span>
    <ax-select-box
      style="width: 150px"
      [dataSource]="unassignedOptions()"
      [ngModel]="showUnassignedAppointments()"
      (onValueChanged)="onUnassignedAppointmentsChange($event.value)"
    >
    </ax-select-box>

    <span class="text-sm font-medium">View:</span>
    <ax-select-box
      style="width: 200px"
      [dataSource]="timelineViews()"
      [ngModel]="selectedView()"
      (onValueChanged)="onViewChange($event.value)"
    >
    </ax-select-box>
  </div>

  @defer {
    <ax-scheduler
      [views]="['timeline-day', 'timeline-month', 'timeline-year']"
      [endDayHour]="20"
      [readonly]="false"
      [startDayHour]="8"
      [draggable]="true"
      [hasActions]="true"
      [resources]="resources"
      [selectedView]="selectedView()"
      [startingDate]="startingDate()"
      [dataSource]="appointmentsData()"
      [showResourceHeaders]="showResourceHeaders()"
      class="bg-lightest dark:bg-darkest h-[90%]"
      [showUnassignedAppointments]="showUnassignedAppointments()"
    ></ax-scheduler>
  }
</div>
