<ax-accordion-group
  look="fill"
  [accordion]="true"
  class="ax-container ax-px-12"
>
  <ax-accordion-item caption="Google">
    <p>
      Google LLC is an American multinational technology company focusing on
      artificial intelligence, online advertising, search engine technology,
      cloud computing, computer software, quantum computing, e-commerce, and
      consumer electronics.
    </p>
  </ax-accordion-item>
  <ax-accordion-item caption="Microsoft">
    <p>
      Microsoft Corporation is an American multinational technology corporation
      headquartered in Redmond, Washington. Microsoft's best-known software
      products are the Windows line of operating systems, the Microsoft 365
      suite of productivity applications, and the Edge web browser.
    </p>
  </ax-accordion-item>
  <ax-accordion-item caption="Apple">
    <p>
      Apple Inc. is an American multinational technology company headquartered
      in Cupertino, California, in Silicon Valley. It designs, develops, and
      sells consumer electronics, computer software, and online services.
    </p>
  </ax-accordion-item>
</ax-accordion-group>
