<div
  class="ax-flex ax-h-64 ax-w-full ax-flex-col ax-items-center ax-justify-center ax-gap-2 md:ax-flex-row"
  #container
>
  <ax-button
    text="Screen region"
    color="secondary"
    (onClick)="onScreenRegionClick()"
    [disabled]="_isLoading"
  >
  </ax-button>
  <ax-button
    text="Container region"
    color="secondary"
    (onClick)="onContainerRegionClick()"
    [disabled]="_isLoading"
  >
  </ax-button>
  <ax-button
    text="Button region"
    color="secondary"
    (onClick)="onButtonRegionClick()"
    [disabled]="buttonLoading"
  >
    <ax-loading *ngIf="buttonLoading"></ax-loading>
  </ax-button>
</div>
