<div
  class="flex h-64 w-full flex-col items-center justify-center gap-2 md:flex-row"
  #container
>
  <ax-button
    text="Screen region"
    color="primary"
    (onClick)="onScreenRegionClick()"
    [disabled]="_isLoading"
  >
  </ax-button>
  <ax-button
    text="Container region"
    color="primary"
    (onClick)="onContainerRegionClick()"
    [disabled]="_isLoading"
  >
  </ax-button>
  <ax-button
    text="Button region"
    color="primary"
    (onClick)="onButtonRegionClick()"
    [disabled]="buttonLoading"
  >
    @if(buttonLoading){
    <ax-loading></ax-loading>

    }
  </ax-button>
</div>
