<div
  class="ax-flex ax-flex-col ax-items-center ax-justify-center ax-gap-4 ax-py-6"
>
  <div class="ax-flex ax-flex-col ax-gap-4 ax-items-center">
    <div class="ax-flex ax-items-center ax-gap-4">
      <ax-tag
        text="Extra Small"
        color="primary"
        look="solid"
        class="ax-xs"
      ></ax-tag>
      <ax-tag text="Small" color="primary" look="solid" class="ax-sm"></ax-tag>
      <ax-tag text="Medium" color="primary" look="solid" class="ax-md"></ax-tag>
      <ax-tag text="Large" color="primary" look="solid" class="ax-lg"></ax-tag>
      <ax-tag
        text="Extra Large"
        color="primary"
        look="solid"
        class="ax-xl"
      ></ax-tag>
    </div>

    <div class="ax-flex ax-items-center ax-gap-4">
      <ax-tag text="XS" color="secondary" look="outline" class="ax-xs"></ax-tag>
      <ax-tag text="SM" color="secondary" look="outline" class="ax-sm"></ax-tag>
      <ax-tag text="MD" color="secondary" look="outline" class="ax-md"></ax-tag>
      <ax-tag text="LG" color="secondary" look="outline" class="ax-lg"></ax-tag>
      <ax-tag text="XL" color="secondary" look="outline" class="ax-xl"></ax-tag>
    </div>

    <div class="ax-flex ax-items-center ax-gap-4">
      <ax-tag
        text="Compact"
        color="success"
        look="twotone"
        class="ax-xs"
      ></ax-tag>
      <ax-tag
        text="Standard"
        color="success"
        look="twotone"
        class="ax-md"
      ></ax-tag>
      <ax-tag
        text="Prominent"
        color="success"
        look="twotone"
        class="ax-xl"
      ></ax-tag>
    </div>
  </div>
</div>
