<div axAccordionGroup [accordion]="false" class="ax-min-w-96">
  <div
    class="ax-mb-2 ax-w-full ax-border ax-border-surface ax-p-2"
    axAccordionItem
  >
    <div
      class="ax-flex ax-items-center ax-justify-between"
      axAccordionItemHeader
    >
      <h3>Section 1</h3>
      <ax-button text="Toggle" axAccordionCloseButton></ax-button>
    </div>
    <div axAccordionItemContent>
      <p>Content for section 1</p>
    </div>
  </div>
  <div
    class="ax-mb-2 ax-w-full ax-border ax-border-surface ax-p-2"
    axAccordionItem
  >
    <div
      class="ax-flex ax-items-center ax-justify-between"
      axAccordionItemHeader
    >
      <h3>Section 2</h3>
      <ax-button text="Toggle" axAccordionCloseButton></ax-button>
    </div>
    <div axAccordionItemContent>
      <p>Content for section 1</p>
    </div>
  </div>
</div>
