<div
  class="w-[100vw] h-[100vh] flex justify-center items-center flex-col gap-4 p-4"
>
  <div class="flex items-center gap-2">
    <span class="text-sm font-medium">Select View:</span>
    <ax-select-box
      style="width: 200px"
      [dataSource]="views()"
      [ngModel]="selectedView()"
      (onValueChanged)="onViewChange($event.value)"
    ></ax-select-box>
  </div>

  @defer () {
  <ax-scheduler
    [views]="[selectedView()]"
    [selectedView]="selectedView()"
    [startingDate]="startingDate()"
    [dataSource]="appointmentsData()"
    class="bg-lightest dark:bg-darkest h-[90%]"
  ></ax-scheduler>
  }
</div>
