<div class="ax-flex ax-gap-1 ax-flex-col">
  <ax-button-group [color]="'primary'" [selection]="selection" class="ax-xs">
    <ax-button-group-item text="Start" [selected]="true"></ax-button-group-item>
    <ax-button-group-item text="Middle"></ax-button-group-item>
    <ax-button-group-item text="End"></ax-button-group-item>
  </ax-button-group>

  <ax-button-group [color]="'primary'" [selection]="selection" class="ax-sm">
    <ax-button-group-item text="Start" [selected]="true"></ax-button-group-item>
    <ax-button-group-item text="Middle"> </ax-button-group-item>
    <ax-button-group-item text="End"></ax-button-group-item>
  </ax-button-group>

  <ax-button-group [color]="'primary'" [selection]="selection" class="ax-md">
    <ax-button-group-item text="Start" [selected]="true"></ax-button-group-item>
    <ax-button-group-item text="Middle"> </ax-button-group-item>
    <ax-button-group-item text="End"></ax-button-group-item>
  </ax-button-group>

  <ax-button-group [color]="'primary'" [selection]="selection" class="ax-lg">
    <ax-button-group-item text="Start" [selected]="true"></ax-button-group-item>
    <ax-button-group-item text="Middle"> </ax-button-group-item>
    <ax-button-group-item text="End"></ax-button-group-item>
  </ax-button-group>

  <ax-button-group [color]="'primary'" [selection]="selection" class="ax-xl">
    <ax-button-group-item text="Start" [selected]="true"></ax-button-group-item>
    <ax-button-group-item text="Middle"></ax-button-group-item>
    <ax-button-group-item text="End"></ax-button-group-item>
  </ax-button-group>
</div>
