<div
  class="ax-flex ax-flex-col ax-items-center ax-justify-center ax-gap-4 ax-p-4"
>
  <ax-form-field>
    <ax-label [required]="true">First Name</ax-label>
    <ax-text-box placeholder="Enter your first name"></ax-text-box>
  </ax-form-field>

  <ax-form-field>
    <ax-label [required]="true">Last Name</ax-label>
    <ax-text-box placeholder="Enter your last name"></ax-text-box>
  </ax-form-field>

  <ax-form-field>
    <ax-label [required]="true">Email Address</ax-label>
    <ax-text-box type="email" placeholder="Enter your email"></ax-text-box>
  </ax-form-field>

  <ax-form-field>
    <ax-label>Phone Number (Optional)</ax-label>
    <ax-text-box type="tel" placeholder="Enter your phone number"></ax-text-box>
  </ax-form-field>
</div>
