<div class="ax-flex ax-flex-row ax-items-center ax-justify-center ax-gap-4">
  <div class="ax-flex ax-flex-col ax-items-center">
    <ax-label>Calendar Type</ax-label>
    <ax-select-box
      [dataSource]="calendarTypes"
      [(ngModel)]="currentCalendarType"
    ></ax-select-box>
  </div>

  <ax-datetime-picker
    [ngModel]="selectedValue()"
    placeholder="Select date/time"
    [calendar]="currentCalendarType()"
    (onValueChanged)="selectedValue.set($event.value)"
  ></ax-datetime-picker>
</div>
