<ax-button
  text="Open Action sheet"
  color="secondary"
  (onClick)="openActionSheet()"
>
</ax-button>

<ng-template #bothTemplate>
  <div class="ax-p-4">
    <ax-avatar-group class="child:ax-w-12 child:ax-h-12 child:ax-rounded-full">
      <ax-avatar color="primary"></ax-avatar>
      <ax-avatar color="secondary"></ax-avatar>
      <ax-avatar color="success"></ax-avatar>
      <ax-avatar color="warning"></ax-avatar>
      <ax-avatar color="danger"></ax-avatar>
    </ax-avatar-group>
  </div>
</ng-template>
