<div class="flex gap-4 rounded p-4 surface">
  <div
    axDropZone
    #zone="axDropZone"
    [dropZoneGroup]="'dropZoneGroup1'"
    (onElementDrop)="dropZoneDropEventHandler($event)"
    [ngClass]="{ 'bg-primary/25': zone.isHovered() }"
    (onElementHover)="dropZoneHoverEventHandler($event)"
    class="transition-colors relative flex h-36 w-36 items-center justify-center rounded-sm border border-dashed border-primary p-2 text-center text-sm"
  >
    Drop zone (Group 1)
  </div>
  <div
    axDrag
    [dropZoneGroup]="'dropZoneGroup1'"
    class="relative flex h-36 w-36 items-center justify-center rounded-sm p-2 text-center text-sm shadow primary-surface select-none"
  >
    Draggable (Group 1)
  </div>
</div>
