<div class="ax-flex ax-flex-col ax-gap-6 ax-p-4">
  <ax-rate-picker
    [max]="5"
    [class]="'ax-md'"
    [(ngModel)]="valueNormal"
    [iconName]="'fa-star'"
  ></ax-rate-picker>

  <ax-rate-picker
    [max]="5"
    [readonly]="true"
    [class]="'ax-md'"
    [(ngModel)]="valueReadonly"
    [iconName]="'fa-star'"
  ></ax-rate-picker>

  <ax-rate-picker
    [max]="5"
    [disabled]="true"
    [class]="'ax-md'"
    [(ngModel)]="valueDisabled"
    [iconName]="'fa-star'"
  ></ax-rate-picker>
</div>
