<ax-form
  [messageStyle]="'float'"
  [updateOn]="'change'"
  class="ax-min-w-60 ax-block"
>
  <ax-form-field>
    <ax-select-box
      [multiple]="true"
      textField="name"
      valueField="id"
      [dataSource]="dataSource"
      placeholder="Select Item(s) ..."
      [loadingTemplate]="customLoadingTemplate"
    >
      <ng-template #customLoadingTemplate>
        <div class="ax-p-2">Custom Loading... <br /></div>
      </ng-template>
      <ax-search-box look="fill"></ax-search-box>
      <ax-validation-rule message="field can't be empty" rule="required">
      </ax-validation-rule>
      <ax-clear-button></ax-clear-button>
    </ax-select-box>
  </ax-form-field>
</ax-form>
