<div class="p-3 min-w-96">
  <div class="flex gap-x-2">
    <ax-button class="ax-sm" color="primary" text="Edit"></ax-button>
    <ax-button class="ax-sm" color="warning" text="Alert"></ax-button>
  </div>

  <div axSlidingItem>
    <ax-text
      class="bg-surface w-full h-full flex items-center justify-center"
    >
    <ax-icon icon="fa-solid fa-arrow-left" class="px-3"></ax-icon>
      slide to right or left
      <ax-icon icon="fa-solid fa-arrow-right" class="px-3"></ax-icon>
    </ax-text>
    
  </div>

  <div class="flex gap-2">
    <ax-button class="ax-sm" color="danger" text="Delete"></ax-button>
    <ax-button class="ax-sm" color="secondary" text="info"></ax-button>
  </div>
</div>
