<div class="ax-p-3 ax-min-w-96">
  <div class="ax-flex ax-gap-x-2">
    <ax-button class="ax-sm" color="primary" text="Edit"></ax-button>
    <ax-button class="ax-sm" color="warning" text="Alert"></ax-button>
  </div>

  <div axSlidingItem>
    <ax-text
      class="ax-bg-surface ax-w-full ax-h-full ax-flex ax-items-center ax-justify-center"
    >
      slide to right or left
    </ax-text>
  </div>

  <div class="ax-flex ax-gap-2">
    <ax-button class="ax-sm" color="danger" text="Delete"></ax-button>
    <ax-button class="ax-sm" color="secondary" text="info"></ax-button>
  </div>
</div>
