<div class="ax-flex ax-h-60 ax-w-80 ax-items-center ax-justify-center">
  <ax-menu>
    <ax-menu-item></ax-menu-item>
    <ax-text>Home</ax-text>
    <ax-menu-item>
      <ax-text>Products</ax-text>
      <ax-menu-item>
        <ax-text>Monitor</ax-text>
        <ax-prefix>
          <ax-icon>
            <i class="fa-solid fa-tv"></i>
          </ax-icon>
        </ax-prefix>
      </ax-menu-item>
      <ax-menu-item>
        <ax-text>Keyboard</ax-text>
        <ax-prefix>
          <ax-icon>
            <i class="fa-regular fa-keyboard"></i>
          </ax-icon>
        </ax-prefix>
      </ax-menu-item>
      <ax-menu-item>
        <ax-text>Headphone</ax-text>
        <ax-prefix>
          <ax-icon>
            <i class="fa-solid fa-headphones"></i>
          </ax-icon>
        </ax-prefix>
      </ax-menu-item>
    </ax-menu-item>
    <ax-menu-item>
      <ax-text>About</ax-text>
    </ax-menu-item>
    <ax-menu-item>
      <ax-text>Contact</ax-text>
    </ax-menu-item>
  </ax-menu>
</div>
