<div class="ax-flex ax-h-60 ax-w-80 ax-items-center ax-justify-center">
  <ax-menu>
    <ax-menu-item text="Home"></ax-menu-item>
    <ax-menu-item text="Products">
      <ax-menu-item text="Monitor">
        <ax-prefix>
          <ax-icon>
            <i class="fa-solid fa-tv"></i>
          </ax-icon>
        </ax-prefix>
      </ax-menu-item>
      <ax-menu-item text="Keyboard">
        <ax-prefix>
          <ax-icon>
            <i class="fa-regular fa-keyboard"></i>
          </ax-icon>
        </ax-prefix>
      </ax-menu-item>
      <ax-menu-item text="Headphone">
        <ax-prefix>
          <ax-icon>
            <i class="fa-solid fa-headphones"></i>
          </ax-icon>
        </ax-prefix>
      </ax-menu-item>
    </ax-menu-item>
    <ax-menu-item text="About"></ax-menu-item>
    <ax-menu-item text="Contact"></ax-menu-item>
  </ax-menu>
</div>
