<ax-heading class="ax-p-10">
  <h1>Accordion</h1>

  <ax-subtitle>
    Accordion component is a UI element that allows the creation of collapsible
    content sections. It enables users to toggle the visibility of content with
    a collapsible header, offering an intuitive and space-efficient way to
    organize information. With customizable features like a custom header
    template, accordion behavior, and event callbacks, it enhances flexibility
    and user interaction.
  </ax-subtitle>
</ax-heading>
