<div
  class="ax-w-[100vw] ax-h-[100vh] ax-flex ax-justify-center ax-items-center ax-flex-col ax-gap-4 ax-p-4"
>
  <div class="ax-flex ax-items-center ax-gap-2">
    <span class="ax-text-sm ax-font-medium">Mode:</span>
    <ax-select-box
      style="width: 200px"
      [dataSource]="modes()"
      [ngModel]="selectedMode()"
      (onValueChanged)="onModeChange($event.value)"
    ></ax-select-box>
  </div>

  @defer(){
  <ax-scheduler
    [selectedView]="'month'"
    [startingDate]="startingDate()"
    [dataSource]="appointmentsData()"
    [holidays]="loadHolidays.bind(this)"
    class="ax-bg-lightest dark:ax-bg-darkest ax-h-[90%]"
  ></ax-scheduler>
  }
</div>
