<div
  class="w-[100vw] h-[100vh] flex justify-center items-center flex-col gap-4 p-4"
>
  <div class="flex items-center gap-2">
    <span class="text-sm font-medium">Mode:</span>
    <ax-select-box
      style="width: 200px"
      [dataSource]="modes()"
      [ngModel]="selectedMode()"
      (onValueChanged)="onModeChange($event.value)"
    ></ax-select-box>
  </div>

  @defer(){
  <ax-scheduler
    [selectedView]="'month'"
    [startingDate]="startingDate()"
    [dataSource]="appointmentsData()"
    [holidays]="loadHolidays.bind(this)"
    class="bg-lightest dark:bg-darkest h-[90%]"
  ></ax-scheduler>
  }
</div>
