<ax-form
  [messageStyle]="'float'"
  [updateOn]="'change'"
  class="ax-min-w-60 ax-block"
>
  <ax-form-field>
    <ax-select-box
      [dataSource]="dataSource"
      [placeholder]="options.placeholder"
      [itemTemplate]="customItemTemplate"
    >
      <ng-template #customItemTemplate let-item>
        <div class="ax-p-2">Custom Item {{ item.data.id }}<br /></div>
      </ng-template>
      <ax-search-box look="fill"></ax-search-box>
      <ax-validation-rule message="field can't be empty" rule="required">
      </ax-validation-rule>
      <ax-clear-button></ax-clear-button>
    </ax-select-box>
  </ax-form-field>
</ax-form>
