<div class="flex flex-row items-center justify-center gap-4">
  <div class="flex flex-col gap-4">
    <ax-label>Component States</ax-label>
    <div class="flex gap-4">
      <div class="flex items-center gap-2">
        <ax-switch
          [(ngModel)]="isDisabled"
          (ngModelChange)="isDisabled.set($event)"
        ></ax-switch>
        <span>Disabled</span>
      </div>
      <div class="flex items-center gap-2">
        <ax-switch
          [(ngModel)]="isReadonly"
          (ngModelChange)="isReadonly.set($event)"
        ></ax-switch>
        <span>Readonly</span>
      </div>
    </div>
  </div>

  <ax-datetime-picker
    [disabled]="isDisabled()"
    [readonly]="isReadonly()"
    [ngModel]="selectedValue()"
    placeholder="Select date and time"
    (onValueChanged)="selectedValue.set($event.value)"
  ></ax-datetime-picker>
</div>
