<ax-tabs look="default">
  @for (tab of [ { text: 'Calls', icon: 'far fa-phone' }, { text: 'Messages',
  icon: 'far fa-comments' }, { text: 'Contacts', icon: 'far fa-address-book',
  active: true }, { text: 'Camera', icon: 'far fa-camera' } ]; track $index) {
  <ax-tab-item track [active]="tab.active!" [headerTemplate]="tabHeader">
    <ng-template let-item #tabHeader>
      <div
        class="ax-flex ax-flex-col ax-items-center ax-p-3 hover:ax-cursor-pointer hover:ax-text-info-400"
        [class.ax-text-info-500]="item.active"
      >
        <div>
          <ax-icon icon="far {{ tab.icon }}" class="ax-text-2xl"></ax-icon>
        </div>
        <div>{{ tab.text }}</div>
      </div>
    </ng-template>
  </ax-tab-item>
  }
</ax-tabs>
