<div class="ax-flex ax-flex-col ax-gap-6 ax-p-4">
  <ax-rate-picker
    [max]="5"
    [class]="'ax-xs'"
    [(ngModel)]="valueXs"
    [iconName]="'fa-star'"
  ></ax-rate-picker>

  <ax-rate-picker
    [max]="5"
    [class]="'ax-sm'"
    [(ngModel)]="valueSm"
    [iconName]="'fa-star'"
  ></ax-rate-picker>

  <ax-rate-picker
    [max]="5"
    [class]="'ax-md'"
    [(ngModel)]="valueMd"
    [iconName]="'fa-star'"
  ></ax-rate-picker>

  <ax-rate-picker
    [max]="5"
    [class]="'ax-lg'"
    [(ngModel)]="valueLg"
    [iconName]="'fa-star'"
  ></ax-rate-picker>

  <ax-rate-picker
    [max]="5"
    [class]="'ax-xl'"
    [(ngModel)]="valueXl"
    [iconName]="'fa-star'"
  ></ax-rate-picker>
</div>
