<div
  class="flex flex-col items-center justify-center gap-2 px-4"
>
  <div class="flex gap-2 items-center">
    <ax-label>Depth:</ax-label>
    <ax-button
      text="Day"
      (click)="setDepth('day')"
      [class.state-selected]="depth() === 'day'"
    ></ax-button>
    <ax-button
      text="Month"
      (click)="setDepth('month')"
      [class.state-selected]="depth() === 'month'"
    ></ax-button>
    <ax-button
      text="Year"
      (click)="setDepth('year')"
      [class.state-selected]="depth() === 'year'"
    ></ax-button>
  </div>
  <ax-calendar-range [depth]="depth()"></ax-calendar-range>
</div>
