<div class="flex items-center justify-center gap-4">
  <ax-rail-navigation [look]="currentLook()" class="h-[100vh]">
    <ax-rail-navigation-item [active]="true">
      <ax-icon class="fa-solid fa-home"></ax-icon>
      <ax-text>Home</ax-text>
    </ax-rail-navigation-item>
    <ax-rail-navigation-item>
      <ax-icon class="fa-solid fa-store"></ax-icon>
      <ax-text>Store</ax-text>
    </ax-rail-navigation-item>
    <ax-rail-navigation-item>
      <ax-icon class="fa-solid fa-user"></ax-icon>
      <ax-text>Profile</ax-text>
    </ax-rail-navigation-item>
    <ax-rail-navigation-item>
      <ax-icon class="fa-solid fa-cog"></ax-icon>
      <ax-text>Settings</ax-text>
    </ax-rail-navigation-item>
    <ax-suffix>
      <ax-rail-navigation-item>
        <ax-icon class="fa-solid fa-sun-bright"></ax-icon>
      </ax-rail-navigation-item>
    </ax-suffix>
  </ax-rail-navigation>

  <div class="flex flex-col gap-2">
    <label class="text-sm font-medium">Select Look:</label>
    <ax-select-box
      class="w-40"
      textField="text"
      valueField="value"
      [ngModel]="currentLook()"
      [dataSource]="dataSource()"
      (onValueChanged)="onLookChange($event.value)"
    >
    </ax-select-box>
  </div>
</div>
