<div class="ax-flex ax-items-center ax-gap-4">
  <ax-button text="Actions" color="primary">
    <ax-dropdown-panel>
      <ng-container>
        <ax-button-item-list (onItemClick)="handleOnItemClick($event)">
          <ax-button-item text="Save as..." name="save" data="save-data">
            <ax-prefix>
              <ax-icon icon="fa-regular fa-floppy-disk"></ax-icon>
            </ax-prefix>
          </ax-button-item>
          <ax-title>Group</ax-title>

          <ax-button-item text="Export" [disabled]="true" [divided]="true">
            <ax-prefix>
              <ax-icon icon="fa-solid fa-file-export"></ax-icon>
            </ax-prefix>
          </ax-button-item>
          <ax-divider></ax-divider>
          <ax-button-item text="Delete" color="danger">
            <ax-prefix>
              <ax-icon icon="fa-solid fa-trash-can"></ax-icon>
            </ax-prefix>
          </ax-button-item>
        </ax-button-item-list>
      </ng-container>
    </ax-dropdown-panel>
    <ax-suffix>
      <ax-icon icon="fa-solid fa-chevron-down"></ax-icon>
    </ax-suffix>
  </ax-button>
</div>
