<div class="ax-flex ax-gap-4">
  <div
    axDrag
    [dragLockAxis]="'y'"
    class="ax-relative ax-flex ax-h-36 ax-w-36 ax-items-center ax-justify-center ax-rounded-sm ax-p-2 ax-text-center ax-text-sm ax-shadow ax-primary-surface"
  >
    Draggable Item only Up/Down
  </div>
  <div
    axDrag
    [dragLockAxis]="'x'"
    class="ax-relative ax-flex ax-h-36 ax-w-36 ax-items-center ax-justify-center ax-rounded-sm ax-p-2 ax-text-center ax-text-sm ax-shadow ax-primary-surface"
  >
    Draggable Item only Left/Right
  </div>
</div>
