<div class="ax-flex ax-flex-wrap ax-gap-8 ax-justify-center ax-p-4">
  <ax-qrcode
    [content]="'https://www.acorexui.com/'"
    [size]="200"
    [color]="'#000000'"
    [backgroundColor]="'#ffffff'"
    [level]="'M'"
    [outputType]="'canvas'"
  ></ax-qrcode>

  <ax-qrcode
    [content]="'https://www.acorexui.com/'"
    [size]="200"
    [color]="'#2563eb'"
    [backgroundColor]="'#dbeafe'"
    [level]="'M'"
    [outputType]="'canvas'"
  ></ax-qrcode>

  <ax-qrcode
    [content]="'https://www.acorexui.com/'"
    [size]="200"
    [color]="'#059669'"
    [backgroundColor]="'#d1fae5'"
    [level]="'M'"
    [outputType]="'canvas'"
  ></ax-qrcode>

  <ax-qrcode
    [content]="'https://www.acorexui.com/'"
    [size]="200"
    [color]="'#7c3aed'"
    [backgroundColor]="'#ede9fe'"
    [level]="'M'"
    [outputType]="'canvas'"
  ></ax-qrcode>

  <ax-qrcode
    [content]="'https://www.acorexui.com/'"
    [size]="200"
    [color]="'#dc2626'"
    [backgroundColor]="'#fee2e2'"
    [level]="'M'"
    [outputType]="'canvas'"
  ></ax-qrcode>

  <ax-qrcode
    [content]="'https://www.acorexui.com/'"
    [size]="200"
    [color]="'#ffffff'"
    [backgroundColor]="'#1f2937'"
    [level]="'M'"
    [outputType]="'canvas'"
  ></ax-qrcode>
</div>
