<div
  class="w-[100vw] h-[100vh] flex justify-center items-center flex-col gap-4 p-4"
>
  <div class="flex items-center gap-4 mb-4">
    <span class="text-sm font-medium">Current Time Indicator:</span>
    <ax-select-box
      style="width: 200px"
      [dataSource]="indicatorOptions()"
      [ngModel]="showCurrentTimeIndicator()"
      (onValueChanged)="onCurrentTimeIndicatorChange($event.value)"
    >
    </ax-select-box>
  </div>

  @defer () {
  <ax-scheduler
    [endDayHour]="18"
    [readonly]="false"
    [startDayHour]="8"
    [draggable]="true"
    [hasActions]="true"
    [selectedView]="'day'"
    [startingDate]="startingDate()"
    [dataSource]="appointmentsData()"
    [views]="['day', 'week', 'month']"
    class="bg-lightest dark:bg-darkest h-[90%]"
    [showCurrentTimeIndicator]="showCurrentTimeIndicator()"
  ></ax-scheduler>
  }
</div>
