<ax-form
  (onValidate)="validate(form1)"
  #form1
  [updateOn]="'change'"
  [messageStyle]="'float'"
>
  <div class="ax-flex ax-flex-col ax-justify-center ax-gap-4 ax-py-10">
    <div class="ax-flex ax-gap-4">
      <ax-form-field class="ax-flex-1">
        <ax-label>Firstname</ax-label>
        <ax-text-box name="firstname">
          <ax-validation-rule rule="required"> </ax-validation-rule>
        </ax-text-box>
      </ax-form-field>
      <ax-form-field class="ax-flex-1">
        <ax-label>Lastname</ax-label>
        <ax-text-box name="lastname">
          <ax-validation-rule rule="required"> </ax-validation-rule>
        </ax-text-box>
      </ax-form-field>
    </div>
    <div class="ax-flex ax-w-full ax-flex-row ax-gap-4">
      <ax-button
        class="ax-flex-1"
        [type]="'submit'"
        text="Submit"
        color="primary"
      >
      </ax-button>
      <ax-button
        class="ax-flex-1"
        [type]="'reset'"
        text="Clear"
        color="danger"
        [look]="'outline'"
      >
      </ax-button>
    </div>
  </div>
</ax-form>
