<div>
  <ax-nav>
    <ax-title>Custom Title</ax-title>
    <ax-nav-item>
      <span>Home</span>
      <ax-prefix>
        <ax-icon class="fa-solid fas fa-home"></ax-icon>
      </ax-prefix>
    </ax-nav-item>
    <ax-nav-item>
      <ax-prefix>
        <ax-icon class="fa-solid fa-gear"></ax-icon>
      </ax-prefix>
      <span>Setting</span>
    </ax-nav-item>
    <ax-nav-item>
      <ax-prefix>
        <ax-icon class="fa-solid fa-message"></ax-icon>
      </ax-prefix>
      <span>Message</span>
    </ax-nav-item>
  </ax-nav>
</div>