<div axAccordionGroup class="min-w-96">
  <div
    class="mb-2 w-full border border-surface p-2 rounded-lg"
    axAccordionItem
  >
    <div
      class="flex items-center justify-between"
      axAccordionItemHeader
    >
      <h3>Section 1</h3>
      <ax-button text="Toggle" axAccordionCloseButton></ax-button>
    </div>
    <div axAccordionItemContent>
      <p>Content for section 1</p>
    </div>
  </div>
  <div
    class="mb-2 w-full border border-surface p-2 rounded-lg"
    axAccordionItem
  >
    <div
      class="flex items-center justify-between"
      axAccordionItemHeader
    >
      <h3>Section 2</h3>
      <ax-button text="Toggle" axAccordionCloseButton></ax-button>
    </div>
    <div axAccordionItemContent>
      <p>Content for section 1</p>
    </div>
  </div>
</div>
