<div
  class="ax-flex ax-flex-col ax-items-center ax-justify-center ax-gap-4 ax-p-4"
>
  <ax-form-field>
    <ax-label #nameLabel>Full Name</ax-label>
    <ax-text-box #nameInput placeholder="Enter your full name"></ax-text-box>
  </ax-form-field>

  <ax-form-field>
    <ax-label #emailLabel>Email</ax-label>
    <ax-text-box
      #emailInput
      type="email"
      placeholder="Enter your email"
    ></ax-text-box>
  </ax-form-field>

  <ax-form-field>
    <ax-label #passwordLabel>Password</ax-label>
    <ax-text-box
      #passwordInput
      type="password"
      placeholder="Enter your password"
    ></ax-text-box>
  </ax-form-field>
</div>
