<div
  class="flex flex-col items-center justify-center gap-4 py-6"
>
  <div class="flex gap-2">
    <ax-button (onClick)="cycleColor()" text="Cycle color"></ax-button>
    <ax-button (onClick)="dec()" text="- size"></ax-button>
    <ax-button (onClick)="inc()" text="+ size"></ax-button>
  </div>

  <ax-avatar
    [color]="color()"
    [size]="size()"
    (colorChange)="onColorChange($event)"
    (sizeChange)="onSizeChange($event)"
    (onOptionChanged)="onOptionChanged($event)"
  >
    <ax-text>EV</ax-text>
  </ax-avatar>

  <div class="flex flex-col gap-1 w-[400px] px-4">
    @for(item of logs();track $index){
    <div>{{ item }}</div>
    }
  </div>
</div>
