<div
  axDrag
  class="ax-relative ax-flex ax-h-36 ax-w-36 ax-items-center ax-justify-center ax-rounded-sm ax-p-2 ax-text-center ax-text-sm ax-shadow ax-primary-surface"
>
  Draggable Item
  <div
    class="cursor-grab ax-absolute ax-right-2 ax-top-2 ax-h-6 ax-w-6"
    axDragHandle
  >
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
      ></path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>
</div>
