<ax-collapse-group look="fill" [accordion]="true" class="ax-container ax-px-12">
  <ax-collapse caption="Google" icon="fa-brands fa-google fa-lg">
    <p>
      Google LLC is an American multinational technology company focusing on
      artificial intelligence, online advertising, search engine technology,
      cloud computing, computer software, quantum computing, e-commerce, and
      consumer electronics.
    </p>
  </ax-collapse>
  <ax-collapse caption="Microsoft" icon="fa-brands fa-microsoft fa-lg">
    <p>
      Microsoft Corporation is an American multinational technology corporation
      headquartered in Redmond, Washington. Microsoft's best-known software
      products are the Windows line of operating systems, the Microsoft 365
      suite of productivity applications, and the Edge web browser.
    </p>
  </ax-collapse>
  <ax-collapse caption="Apple" icon="fa-brands fa-apple fa-lg">
    <p>
      Apple Inc. is an American multinational technology company headquartered
      in Cupertino, California, in Silicon Valley. It designs, develops, and
      sells consumer electronics, computer software, and online services.
    </p>
  </ax-collapse>
</ax-collapse-group>
