<div class="flex flex-col gap-14 p-4">
  <ax-range-slider
    class="w-80 h-5"
    [(ngModel)]="value1"
    [mode]="'single'"
    [min]="0"
    [max]="100"
    [step]="1"
    [hasTooltip]="true"
    [tooltipMode]="'start'"
    [color]="'primary'"
  ></ax-range-slider>

  <ax-range-slider
    class="w-80 h-5"
    [(ngModel)]="value2"
    [mode]="'single'"
    [min]="0"
    [max]="100"
    [step]="1"
    [hasTooltip]="true"
    [tooltipMode]="'end'"
    [color]="'primary'"
  ></ax-range-slider>

  <ax-range-slider
    class="w-80 h-5"
    [(ngModel)]="dualValue"
    [mode]="'dual'"
    [min]="0"
    [max]="100"
    [step]="1"
    [hasTooltip]="true"
    [tooltipMode]="'end'"
    [color]="'primary'"
  ></ax-range-slider>
</div>
