<div class="flex items-center justify-center py-8">
  <ax-dropdown-button color="primary" mode="dropdown" text="Actions">
    <ax-button-item-list>
      <ax-title>Nested items</ax-title>

      <ax-button-item text="Child 1">
        <ax-prefix>
          <ax-icon icon="fa-solid fa-folder"></ax-icon>
        </ax-prefix>
        <ax-button-item text="Child 1/1"></ax-button-item>
        <ax-button-item text="Child 1/2"></ax-button-item>
        <ax-button-item text="Child 1/3"></ax-button-item>
      </ax-button-item>

      <ax-button-item text="Child 2">
        <ax-prefix>
          <ax-icon icon="fa-solid fa-folder-open"></ax-icon>
        </ax-prefix>
        <ax-button-item text="Child 2/1"></ax-button-item>
        <ax-button-item text="Child 2/2"></ax-button-item>
        <ax-button-item text="Child 2/3"></ax-button-item>
      </ax-button-item>

      <ax-button-item text="Child 3">
        <ax-prefix>
          <ax-icon icon="fa-solid fa-folder-tree"></ax-icon>
        </ax-prefix>
        <ax-button-item text="Child 3/1"></ax-button-item>
        <ax-button-item text="Child 3/2"></ax-button-item>
        <ax-button-item text="Child 3/3"></ax-button-item>
      </ax-button-item>

      <ax-divider></ax-divider>

      <ax-button-item text="Export">
        <ax-prefix>
          <ax-icon icon="fa-solid fa-file-export"></ax-icon>
        </ax-prefix>
      </ax-button-item>
    </ax-button-item-list>
  </ax-dropdown-button>
</div>
