<div class="ax-flex ax-flex-wrap ax-gap-8 ax-justify-center ax-p-4">
  <ax-qrcode
    [content]="'https://www.acorexui.com/'"
    [size]="200"
    [color]="'#2563eb'"
    [backgroundColor]="'#ffffff'"
    [level]="'M'"
    [outputType]="'canvas'"
  ></ax-qrcode>

  <ax-qrcode
    [content]="'https://www.acorexui.com/'"
    [size]="200"
    [color]="'#059669'"
    [backgroundColor]="'#ffffff'"
    [level]="'M'"
    [outputType]="'svg'"
  ></ax-qrcode>

  <ax-qrcode
    [content]="'https://www.acorexui.com/'"
    [size]="200"
    [color]="'#dc2626'"
    [backgroundColor]="'#ffffff'"
    [level]="'M'"
    [outputType]="'url'"
  ></ax-qrcode>
</div>
