<div
  class="w-[100vw] h-[100vh] flex justify-center items-center flex-col gap-4 p-4"
>
  <div class="flex items-center gap-2">
    <span class="text-sm font-medium">Select Calendar:</span>
    <ax-select-box
      [dataSource]="calendars()"
      [ngModel]="selectedCalendar()"
      (onValueChanged)="onCalendarChange($event.value)"
      style="width: 250px"
    ></ax-select-box>
  </div>

  @defer () {
  <ax-scheduler
    [selectedView]="'month'"
    [calendar]="selectedCalendar()"
    [startingDate]="startingDate()"
    [dataSource]="appointmentsData()"
    class="bg-lightest dark:bg-darkest h-[90%]"
  ></ax-scheduler>
  }
</div>
