<div
  class="ax-flex ax-flex-col ax-items-center ax-justify-center ax-gap-6 ax-py-8"
>
  <div class="ax-w-72">
    <ax-form-field>
      <ax-label>Meeting date and time</ax-label>
      <ax-datetime-text-box
        [look]="currentLook()"
        format="yyyy/MM/dd HH:mm"
        placeholder="yyyy/MM/dd HH:mm"
      >
        <ax-clear-button></ax-clear-button>
      </ax-datetime-text-box>
    </ax-form-field>
  </div>

  <div class="ax-flex ax-flex-wrap ax-gap-2 ax-justify-center">
    @for (look of looks; track look.value) {
      <ax-button
        class="ax-sm"
        [text]="look.label"
        (click)="setLook(look.value)"
        [look]="currentLook() === look.value ? 'solid' : 'outline'"
      ></ax-button>
    }
  </div>
</div>
