<div
  class="ax-flex ax-flex-col ax-items-center ax-justify-center ax-gap-4 ax-py-6"
>
  <div class="ax-flex ax-flex-col ax-gap-4 ax-items-center">
    <div class="ax-flex ax-items-center ax-gap-4">
      <ax-tag text="New" color="success" look="solid">
        <ax-prefix>
          <ax-icon class="fa-solid fa-plus" size="sm"></ax-icon>
        </ax-prefix>
      </ax-tag>

      <ax-tag text="Updated" color="warning" look="solid">
        <ax-prefix>
          <ax-icon class="fa-solid fa-pencil" size="sm"></ax-icon>
        </ax-prefix>
      </ax-tag>

      <ax-tag text="Deleted" color="danger" look="solid">
        <ax-prefix>
          <ax-icon class="fa-solid fa-trash" size="sm"></ax-icon>
        </ax-prefix>
      </ax-tag>
    </div>

    <div class="ax-flex ax-items-center ax-gap-4">
      <ax-tag text="Priority" color="primary" look="outline">
        <ax-suffix>
          <ax-icon class="fa-solid fa-star" size="sm"></ax-icon>
        </ax-suffix>
      </ax-tag>

      <ax-tag text="Important" color="secondary" look="outline">
        <ax-suffix>
          <ax-icon class="fa-solid fa-flag" size="sm"></ax-icon>
        </ax-suffix>
      </ax-tag>

      <ax-tag text="Featured" color="success" look="outline">
        <ax-suffix>
          <ax-icon class="fa-solid fa-heart" size="sm"></ax-icon>
        </ax-suffix>
      </ax-tag>
    </div>

    <div class="ax-flex ax-items-center ax-gap-4">
      <ax-tag text="Status" color="info" look="twotone">
        <ax-prefix>
          <ax-icon class="fa-solid fa-check-circle" size="sm"></ax-icon>
        </ax-prefix>
        <ax-suffix>
          <ax-icon class="fa-solid fa-external-link" size="sm"></ax-icon>
        </ax-suffix>
      </ax-tag>

      <ax-tag text="Category" color="warning" look="twotone">
        <ax-prefix>
          <ax-icon class="fa-solid fa-folder" size="sm"></ax-icon>
        </ax-prefix>
        <ax-suffix>
          <span class="ax-text-xs ax-font-mono">5</span>
        </ax-suffix>
      </ax-tag>
    </div>

    <div class="ax-flex ax-items-center ax-gap-4">
      <ax-tag text="Notification" color="danger" look="solid">
        <ax-prefix>
          <ax-icon class="fa-solid fa-bell" size="sm"></ax-icon>
        </ax-prefix>
        <ax-suffix>
          <span
            class="ax-bg-white ax-text-danger ax-rounded-full ax-px-1 ax-text-xs ax-font-bold"
            >3</span
          >
        </ax-suffix>
      </ax-tag>

      <ax-tag text="Message" color="primary" look="solid">
        <ax-prefix>
          <ax-icon class="fa-solid fa-envelope" size="sm"></ax-icon>
        </ax-prefix>
        <ax-suffix>
          <span
            class="ax-bg-white ax-text-primary ax-rounded-full ax-px-1 ax-text-xs ax-font-bold"
            >12</span
          >
        </ax-suffix>
      </ax-tag>
    </div>
  </div>
</div>
