<div class="ax-flex ax-gap-1 ax-flex-col">
  <ax-button-group [color]="'primary'" [look]="'solid'" [selection]="selection">
    <ax-button-group-item text="Start" [selected]="true"></ax-button-group-item>
    <ax-button-group-item text="Middle"></ax-button-group-item>
    <ax-button-group-item text="End"></ax-button-group-item>
  </ax-button-group>

  <ax-button-group
    [color]="'primary'"
    [look]="'twotone'"
    [selection]="selection"
  >
    <ax-button-group-item text="Start" [selected]="true"></ax-button-group-item>
    <ax-button-group-item text="Middle"> </ax-button-group-item>
    <ax-button-group-item text="End"></ax-button-group-item>
  </ax-button-group>

  <ax-button-group
    [color]="'primary'"
    [look]="'outline'"
    [selection]="selection"
  >
    <ax-button-group-item text="Start" [selected]="true"></ax-button-group-item>
    <ax-button-group-item text="Middle"> </ax-button-group-item>
    <ax-button-group-item text="End"></ax-button-group-item>
  </ax-button-group>

  <ax-button-group [color]="'primary'" [look]="'blank'" [selection]="selection">
    <ax-button-group-item text="Start" [selected]="true"></ax-button-group-item>
    <ax-button-group-item text="Middle"> </ax-button-group-item>
    <ax-button-group-item text="End"></ax-button-group-item>
  </ax-button-group>

  <ax-button-group [color]="'primary'" [look]="'link'" [selection]="selection">
    <ax-button-group-item text="Start" [selected]="true"></ax-button-group-item>
    <ax-button-group-item text="Middle"></ax-button-group-item>
    <ax-button-group-item text="End"></ax-button-group-item>
  </ax-button-group>
</div>
