@use "@acorex/styles/index.scss" as *;
@use "@acorex/styles/themes/default.scss" as *;
@use "@acorex/styles/icons/fontawesome/fontawesome.scss" as *;
@use "@acorex/styles/icons/index.scss" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #c6ccd8;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b5bdce;
}

::-webkit-scrollbar-thumb:active {
  background: #848ea0;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: transparent;
}

::-webkit-scrollbar-track:active {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
