@import "@acorex/styles/index.css";
@import "@acorex/styles/icons/fontawesome/index.css";
@import "tailwindcss";
@import '@acorex/styles/themes/default.css';
@source '../node_modules/@acorex';

/*
 * Tailwind can't detect dynamic classes (e.g. [color], runtime values).
 * Uncomment if you use accent colors like: bg-accent2-lightest
 * Keep minimal to avoid extra CSS.
 */

/*
@source inline("ax-accent ax-accent1 ax-accent2 ax-accent3 ax-accent4 ax-accent5 ax-accent6");
@source inline("bg-{primary,secondary,danger,warning,success,accent1,accent2,accent3}-lightest");
*/
html,
body {
  height: 100%;
}

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #c6ccd8;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b5bdce;
}

::-webkit-scrollbar-thumb:active {
  background: #848ea0;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: transparent;
}

::-webkit-scrollbar-track:active {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
