<div
  class="ax-flex ax-flex-col ax-items-center ax-justify-center ax-gap-4 ax-w-full ax-py-6"
>
  <ax-badge text="Inbox" color="primary">
    <ax-prefix>
      <ax-icon icon="fa-solid fa-check"></ax-icon>
    </ax-prefix>
  </ax-badge>

  <ax-badge text="Mentions" color="secondary">
    <ax-suffix>
      <ax-icon icon="fa-solid fa-bell"></ax-icon>
    </ax-suffix>
  </ax-badge>

  <ax-badge text="New" color="success">
    <ax-prefix>
      <ax-icon icon="fa-solid fa-bell"></ax-icon>
    </ax-prefix>
    <ax-suffix>
      <ax-icon icon="fa-solid fa-bell"></ax-icon>
    </ax-suffix>
  </ax-badge>
</div>
