<div class="flex flex-col gap-14 p-4">
  <div class="flex justify-center items-center gap-2">
    <span>0</span>
    <ax-range-slider
      class="w-80 h-5"
      [(ngModel)]="value1"
      [mode]="'single'"
      [min]="0"
      [max]="50"
      [step]="1"
      [color]="'primary'"
      [hasTooltip]="true"
    ></ax-range-slider>
    <span>50</span>
  </div>
  <div class="flex justify-center items-center gap-2">
    <span>0</span>
    <ax-range-slider
      class="w-80 h-5"
      [(ngModel)]="value2"
      [mode]="'single'"
      [min]="0"
      [max]="100"
      [step]="1"
      [color]="'primary'"
      [hasTooltip]="true"
    ></ax-range-slider>
    <span>100</span>
  </div>
  <div class="flex justify-center items-center gap-2">
    <span>0</span>
    <ax-range-slider
      class="w-80 h-5"
      [(ngModel)]="value3"
      [mode]="'single'"
      [min]="0"
      [max]="200"
      [step]="1"
      [color]="'primary'"
      [hasTooltip]="true"
    ></ax-range-slider>
    <span>200</span>
  </div>
</div>
