  <ax-text
    >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis,
    exercitationem.</ax-text
  ><div axDrawerContainer class="mb-3 h-32 w-full">
  <div
    [closeOnBackdropClick]="true"
    axDrawerItem
    #r="axDrawerItem"
    location="end"
    class="h-full border border-on-surface bg-surface p-2"
  >
    <ul>
      <li class="text-on-surface"><ax-text>Home</ax-text></li>
      <li class="my-2 text-on-surface"><ax-text>About</ax-text></li>
      <li class="text-on-surface"><ax-text>Contact Us</ax-text></li>
    </ul>
  </div>

</div>
 <ax-text
    >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis,
    exercitationem.</ax-text
  >
<div axDrawerContainer class="mb-3 h-32 w-full">
  <div
    location="start"
    [closeOnBackdropClick]="true"
    axDrawerItem
    #p="axDrawerItem"
    class="h-full border border-on-surface bg-surface p-2"
  >
    <ul>
      <li class="text-on-surface"><ax-text>Home</ax-text></li>
      <li class="my-2 text-on-surface"><ax-text>About</ax-text></li>
      <li class="text-on-surface"><ax-text>Contact Us</ax-text></li>
    </ul>
  </div>
 
</div>

<div class="flex justify-center gap-2">
  <ax-button text="Toggle End Drawer" (click)="r.toggle()"></ax-button>
  <ax-button text="Toggle Start Drawer" (click)="p.toggle()"></ax-button>
</div>
