<ax-bottom-navigation class="ax-w-96" [hasBorder]="true">
  <ax-bottom-navigation-item name="home" [active]="true">
    <ax-icon class="fa-light fa-house"> </ax-icon>
    <ax-text> Home </ax-text>
  </ax-bottom-navigation-item>
  <ax-bottom-navigation-item name="favorite">
    <ax-icon class="fa-light fa-heart"> </ax-icon>
    <ax-text> Favorite </ax-text>
  </ax-bottom-navigation-item>
  <ax-bottom-navigation-item name="profile">
    <ax-icon class="fa-light fa-user"> </ax-icon>
    <ax-text> Profile </ax-text>
  </ax-bottom-navigation-item>
</ax-bottom-navigation>
