<div class="ax-flex ax-flex-col ax-gap-6 ax-p-4">
  <ax-range-slider
    class="ax-w-80 ax-h-5"
    [(ngModel)]="valueNormal"
    [mode]="'single'"
    [min]="0"
    [max]="100"
    [step]="1"
    [color]="'primary'"
  ></ax-range-slider>

  <ax-range-slider
    class="ax-w-80 ax-h-5"
    [(ngModel)]="valueReadonly"
    [mode]="'single'"
    [min]="0"
    [max]="100"
    [step]="1"
    [readonly]="true"
    [color]="'primary'"
  ></ax-range-slider>

  <ax-range-slider
    class="ax-w-80 ax-h-5"
    [(ngModel)]="valueDisabled"
    [mode]="'single'"
    [min]="0"
    [max]="100"
    [step]="1"
    [disabled]="true"
    [color]="'primary'"
  ></ax-range-slider>
</div>
