<div
  class="ax-h-60 ax-w-96 ax-overflow-auto ax-rounded ax-border ax-border-light-surface ax-p-4"
>
  <div class="ax-space-y-4">
    <ax-menu [closeOn]="'click'">
      <ax-menu-item>
        <ax-text>Menu</ax-text>
        <ax-menu-item>
          <ax-text>Item A</ax-text>
        </ax-menu-item>
        <ax-menu-item>
          <ax-text>Item B</ax-text>
        </ax-menu-item>
      </ax-menu-item>
    </ax-menu>
    <div>
      <p>Scrollable content line 1</p>
      <p>Scrollable content line 2</p>
      <p>Scrollable content line 3</p>
      <p>Scrollable content line 4</p>
      <p>Scrollable content line 5</p>
      <p>Scrollable content line 6</p>
      <p>Scrollable content line 7</p>
      <p>Scrollable content line 8</p>
      <p>Scrollable content line 9</p>
      <p>Scrollable content line 10</p>
      <p>Scrollable content line 11</p>
      <p>Scrollable content line 12</p>
    </div>
  </div>
</div>
