<div
  class="ax-w-full ax-flex ax-justify-center ax-items-center ax-flex-col ax-gap-4"
>
  <div class="ax-flex ax-gap-2">
    <ax-label class="ax-mt-1">Connectors Visible</ax-label>
    <ax-switch
      [ngModel]="showConnector()"
      (onValueChanged)="toggleConnector($event.value)"
    ></ax-switch>
  </div>

  <ax-step-wizard
    #wizard
    [size]="'ax-md'"
    class="ax-w-[45rem]"
    [scrollToStep]="false"
    [look]="'circular-icon'"
    [connector]="showConnector()"
  >
    <ax-step-wizard-item
      [label]="'Setup'"
      [description]="'Initial configuration'"
      [id]="'setup'"
    >
      <ax-icon class="fas fa-cog"></ax-icon>
    </ax-step-wizard-item>

    <ax-step-wizard-item
      [label]="'Install'"
      [description]="'Install dependencies'"
      [id]="'install'"
    >
      <ax-icon class="fas fa-box"></ax-icon>
    </ax-step-wizard-item>

    <ax-step-wizard-item
      [label]="'Configure'"
      [description]="'Final setup'"
      [id]="'configure'"
    >
      <ax-icon class="fas fa-wrench"></ax-icon>
    </ax-step-wizard-item>

    <ax-step-wizard-item
      [label]="'Deploy'"
      [description]="'Go live'"
      [id]="'deploy'"
    >
      <ax-icon class="fas fa-rocket"></ax-icon>
    </ax-step-wizard-item>
  </ax-step-wizard>

  <div class="ax-flex ax-justify-center ax-gap-2">
    <ax-button
      (onClick)="wizard.previous()"
      [disabled]="wizard.isFirst()"
      color="primary"
      look="outline"
      text="Previous"
    ></ax-button>
    <ax-button
      (onClick)="wizard.next()"
      [disabled]="wizard.isLast()"
      color="primary"
      text="Next"
    ></ax-button>
  </div>
</div>
