<div class="ax-flex ax-flex-wrap ax-gap-8 ax-justify-center ax-p-4">
  <ax-qrcode
    [content]="'https://www.acorexui.com/'"
    [size]="180"
    [color]="'#059669'"
    [backgroundColor]="'#ffffff'"
    [level]="'L'"
    [outputType]="'canvas'"
  ></ax-qrcode>

  <ax-qrcode
    [content]="'https://www.acorexui.com/'"
    [size]="180"
    [color]="'#2563eb'"
    [backgroundColor]="'#ffffff'"
    [level]="'M'"
    [outputType]="'canvas'"
  ></ax-qrcode>

  <ax-qrcode
    [content]="'https://www.acorexui.com/'"
    [size]="180"
    [color]="'#dc2626'"
    [backgroundColor]="'#ffffff'"
    [level]="'Q'"
    [outputType]="'canvas'"
  ></ax-qrcode>

  <ax-qrcode
    [content]="'https://www.acorexui.com/'"
    [size]="180"
    [color]="'#7c3aed'"
    [backgroundColor]="'#ffffff'"
    [level]="'H'"
    [outputType]="'canvas'"
  ></ax-qrcode>
</div>
